<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8"/> <!--extensão para caracteres especiais-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Avaliação </title> 
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/icones/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/icones/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/icones/favicon-16x16.png') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/integrante/avaliacao.css') }}">
  {% if darkmode%}
  <style>
    h2, .sprint_sign, .number {
      color: snow;
    }
    .texto_avaliacao {
      background-color: rgb(202, 202, 202);
    }            
    table {
      background-color: #383838;
    }
    
  </style>
  {% endif %}
</head>
<!--- Início do botão de menu -->
<body {% if darkmode%} style="background-color: #494949;" {% endif %}>
  <header>
      <!-- Botão para abrir o menu lateral -->
      <input type="checkbox" id="check" class="bt">
      <label id="icone" for="check" class="bt"> ☰ </label>

  <div class="barra">
    <nav class="menu_lateral">
        <a href="/menu_integrante"> <div class="link">MENU PRINCIPAL</div></a>
        {% if avaliacao_check %}
          <a href="/avaliacao"><div class="link">REALIZAR AVALIAÇÃO </div></a>
        {% else %}
            <div class="link_disable">REALIZAR AVALIAÇÃO </div>
        {% endif %}
        <a href="/devolutiva_integrante"> <div class="link">DEVOLUTIVA DA AVALIAÇÃO</div></a>
        <a href="/"> <div class="link">SAIR ➔ </div></a>
    </nav>
  </div>
  <!--- Fim do botão de menu -->

  <!-- Início do conteúdo do cabeçalho -->
    <img class="logo_avaliação" src="{{ url_for('static', filename='img/avaliacao/Logo copy.png') }}" alt="Logo da plataforma">
    <p><b>Usuário: {{ nomeUsuario }}</b></p>
  <!-- fim do conteúdo do cabeçalho -->
  </header>
  <!--- Fim do botão de menu -->
  <!-- Conteúdo central da página Autoavaliação-->

    <div class="content">
      <div class="header_infos">
        <h1 class="bt_avaliacao_trc">AVALIAÇÃO</h1>
        <h3 class="sprint_sign">Sprint: {{ sprint_index }}</h3>
        <h3 class="sprint_sign">{{ time }}</h3>
        <img class="legenda_trc" src="{{ url_for('static', filename='img/avaliacao/legenda.png') }}" alt="legenda">
      </div>
        <table class="table_formularios">
            <tr>
              <td>
                <h2>INTEGRANTE</h2>
              </td>
              <td>
                <h2>COMUNICAÇÃO E TRABALHO<br>EM EQUIPE</h2>
              </td>
              <td>
                <h2>ENGAJAMENTO E PRÓ-ATIVIDADE</h2>
              </td>
              <td>
                <h2>CONHECIMENTO E <br>APLICABILIDADE TÉCNICA</h2>
              </td>
              <td>
                <h2>ENTREGA DE RESULTADOS COM <br>VALOR AGREGADO</h2>
              </td>
              <td>
                <h2>AUTO-GESTÃO DAS ATIVIDADES</h2>
              </td>
            </tr>
            <form class="formulario" method="POST" action="{{ url_for('avaliacao.avaliacao') }}">
            {% for user in users %}
            <tr>       
                <td>
                  <h2 class="user_nomes">{{ user['nome'] }}</h2>
                </td>
                <td>
                  <input type="range" name="comunicacao_{{user['email']}}" min="1", max="5", step="1" required>
                  <div class="input_values">
                    <a class="number">1</a><a class="number">2</a><a class="number">3</a><a class="number">4</a><a class="number">5</a>
                  </div>

                  <textarea class="texto_avaliacao" type="text" name="texto_comunicacao_{{user['email']}}" placeholder="Escreva seu feedback." maxlength="100" pattern="[A-Za-z ]+" title="São permitidas apenas letras!"></textarea>
                </td>       
                <td>
                  <input type="range" name="engajamento_{{user['email']}}" min="1", max="5", step="1" required>
                  <div class="input_values">
                    <a class="number">1</a><a class="number">2</a><a class="number">3</a><a class="number">4</a><a class="number">5</a>
                  </div>

                  <textarea class="texto_avaliacao" type="text" name="texto_engajamento_{{user['email']}}" placeholder="Escreva seu feedback." maxlength="100" pattern="[A-Za-z ]+" title="São permitidas apenas letras!"></textarea>
                </td>
                <td>
                  <input type="range" name="conhecimento_{{user['email']}}" min="1", max="5", step="1" required>
                  <div class="input_values">
                    <a class="number">1</a><a class="number">2</a><a class="number">3</a><a class="number">4</a><a class="number">5</a>
                  </div>

                  <textarea class="texto_avaliacao" type="text" name="texto_conhecimento_{{user['email']}}" placeholder="Escreva seu feedback." maxlength="100" pattern="[A-Za-z ]+" title="São permitidas apenas letras!"></textarea>
                </td>      
                <td>
                  <input type="range" name="entrega_{{user['email']}}" min="1", max="5", step="1" required>
                  <div class="input_values">
                    <a class="number">1</a><a class="number">2</a><a class="number">3</a><a class="number">4</a><a class="number">5</a>
                  </div>

                  <textarea class="texto_avaliacao" type="text" name="texto_entrega_{{user['email']}}" placeholder="Escreva seu feedback." maxlength="100" pattern="[A-Za-z ]+" title="São permitidas apenas letras!"></textarea>
                </td>      
                <td>
                  <input type="range" name="autogestao_{{user['email']}}" min="1", max="5", step="1" required>
                  <div class="input_values">
                    <a class="number">1</a><a class="number">2</a><a class="number">3</a><a class="number">4</a><a class="number">5</a>
                  </div>

                  <textarea class="texto_avaliacao" type="text" name="texto_autogestao_{{user['email']}}" placeholder="Escreva seu feedback." maxlength="100" pattern="[A-Za-z ]+" title="São permitidas apenas letras!"></textarea>
                </td>
                <input type="hidden" name="user_email_{{user['email']}}" value="{{user['email']}}">
              </tr>              
              {% endfor %}
            </table>
            
            <h1 class="bt_autoavaliacao_trc">AUTO AVALIAÇÃO</h1>

            <table class="form_autoavaliacao">
              <tr>
                <td>
                  <h2 class="user_nomes">{{ session['nomeUsuario'] }}</h2>
                </td>
                <td>
                  <input type="range" name="auto_comunicacao" min="1", max="5", step="1" required>
                  <div class="input_values">
                    <a class="number">1</a><a class="number">2</a><a class="number">3</a><a class="number">4</a><a class="number">5</a>
                  </div>
                </td>
                <td>
                  <input type="range" name="auto_engajamento" min="1", max="5", step="1" required>
                  <div class="input_values">
                    <a class="number">1</a><a class="number">2</a><a class="number">3</a><a class="number">4</a><a class="number">5</a>
                  </div>
                </td>
                <td>  
                  <input type="range" name="auto_conhecimento" min="1", max="5", step="1" required>
                  <div class="input_values">
                    <a class="number">1</a><a class="number">2</a><a class="number">3</a><a class="number">4</a><a class="number">5</a>
                  </div>
                </td>
                <td>
                  <input type="range" name="auto_entrega" min="1", max="5", step="1" required>
                  <div class="input_values">
                    <a class="number">1</a><a class="number">2</a><a class="number">3</a><a class="number">4</a><a class="number">5</a>
                  </div>
                </td>
                <td>
                  <input type="range" name="auto_autogestao" min="1", max="5", step="1" required>
                  <div class="input_values">
                    <a class="number">1</a><a class="number">2</a><a class="number">3</a><a class="number">4</a><a class="number">5</a>
                  </div>
                </td>
              </tr>
            </table>
              <button class="bt_confirmar_trc" type="submit">CONFIRMAR</button>
            </form>
        <footer>
          <img class="rodape-img" src="{{ url_for('static', filename='img/avaliacao/Logo_API_PBLTeX.png') }}" alt="img rodape">
        </footer>
    </div>
    <script>
      var inputRanges = document.querySelectorAll('input[type="range"]');
  
      inputRanges.forEach(function(inputRange) {
        var textArea = inputRange.nextElementSibling.nextElementSibling;
        
        inputRange.addEventListener('input', function() {
          if (parseInt(inputRange.value) < 3) {
            textArea.required = true;
          } else {
            textArea.required = false;
          }
        });
      });
    </script>
  </body>  
</html>