<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8"/> <!--extensão para caracteres especiais-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Devolutiva Avaliação </title> 
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/icones/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/icones/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/icones/favicon-16x16.png') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/integrante/devolutiva_avaliacao.css') }}">
  {% if darkmode%}
  <style>
    h3, h5, .sprint_sign, .sprint_pre_sign, .number{
      color: snow;
    }
    table {
        background-color: #383838;
    }
    .legenda_trc {
        background-color: aliceblue;
    }
    
  </style>
  {% endif %}
</head>
<!--- Início do botão de menu -->
<body {% if darkmode%} style="background-color: #494949;" {% endif %}>
  <header>
      <!-- Botão para abrir o menu lateral -->
      <input type="checkbox" id="check" class="bt">
      <label id="icone" for="check" class="bt"> ☰ </label>

  <div class="barra">
    <nav class="menu_lateral">
        <a href="/menu_integrante"> <div class="link">MENU PRINCIPAL</div></a>
        {% if avaliacao_check and sprint_index > count  %}
          <a href="/avaliacao"><div class="link">REALIZAR AVALIAÇÃO </div></a>
        {% else %}
            <div class="link_disable">REALIZAR AVALIAÇÃO </div>
        {% endif %}
        <div class="actual_page">DEVOLUTIVA DA AVALIAÇÃO</div>
        <a href="/logout"> <div class="link">SAIR ➔ </div></a>
    </nav>
  </div>
    <img id="logo_avaliação" src="{{ url_for('static', filename='img/avaliacao/Logo copy.png') }}" alt="Logo da plataforma">
    <p><b>Usuário: {{ nomeUsuario }}</b></p>
  </header>      

    {% if pre_devolutiva %}
        <div class="titulos_form">
            <h1 class="bt_pre_devolutiva">DEVOLUTIVA AVALIAÇÃO</h1>
            <h3 class="sprint_pre_sign">Selecione a Sprint:</h3>
            <form class="form_devolutiva" method="POST" action="{{ url_for('devolutivas.devolutiva_integrante') }}">
                {% for i in team_sprints %}
                    <input type="radio" name="sprint_escolha" value="{{i}}" required><a class="number"> {{ i }}</a>
                {% endfor %} 
                <br>
                <br>
                {% if team__sprints > 0 %}
                    <button class="bt_confirmar_trc" name="confirm_devolutiva" type="submit">CONFIRMAR</button>
                {% else %}
                    <button disabled class="bt_confirmar_trc" name="confirm_devolutiva" type="submit">CONFIRMAR</button>
                {% endif %}
            <form>
        </div>
        <footer>
          <img class="rodape-img" src="{{ url_for('static', filename='img/avaliacao/Logo_API_PBLTeX.png') }}" alt="img rodape">
        </footer>
    {% else %}

    <div class="content">
      <div class="header_infos">
        <h1 class="bt_devolutiva">DEVOLUTIVA AVALIAÇÃO</h1>
        <h2 class="sprint_sign">Sprint: {{ sprint }}</h2>
      </div>
      <div>
        <img class="legenda_trc" src="{{ url_for('static', filename='img/avaliacao/legenda.png') }}" alt="legenda">
      </div>
        <table class="form_autoavaliacao">
            <tr>
                <td>
                    <h2>TIPO DE AVALIAÇÃO</h2>
                </td>
                <td>
                    <h2>COMUNICAÇÃO E TRABALHO<br>EM EQUIPE</h2>
                </td>
                <td>
                    <h2>ENGAJAMENTO E PRÓ-ATIVIDADE</h2>
                </td>
                <td>
                    <h2>CONHECIMENTO E <br>APLICABILIDADE TÉCNICA</h2>
                </td>
                <td>
                    <h2>ENTREGA DE RESULTADOS COM <br>VALOR AGREGADO</h2>
                </td>
                <td>
                    <h2>AUTO-GESTÃO DAS ATIVIDADES</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>MÉDIA AVALIADORES</h3>
                </td>
                <td>
                    {% if 0 < notas_medias_integrante['comunicacao'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ notas_medias_integrante['comunicacao'] }}</h4>
                    {% elif 3 <= notas_medias_integrante['comunicacao'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ notas_medias_integrante['comunicacao'] }}</h4>
                    {% elif notas_medias_integrante['comunicacao'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ notas_medias_integrante['comunicacao'] }}</h4>
                    {% else %}
                    {% endif %}
                </td>
                <td>
                    {% if 0 < notas_medias_integrante['engajamento'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ notas_medias_integrante['engajamento'] }}</h4>
                    {% elif 3 <= notas_medias_integrante['engajamento'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ notas_medias_integrante['engajamento'] }}</h4>
                    {% elif notas_medias_integrante['engajamento'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ notas_medias_integrante['engajamento'] }}</h4>
                    {% else %}
                    {% endif %}
                </td>
                <td>
                    {% if 0 < notas_medias_integrante['conhecimento'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ notas_medias_integrante['conhecimento'] }}</h4>
                    {% elif 3 <= notas_medias_integrante['conhecimento'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ notas_medias_integrante['conhecimento'] }}</h4>
                    {% elif notas_medias_integrante['conhecimento'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ notas_medias_integrante['conhecimento'] }}</h4>
                    {% else %}
                    {% endif %}
                </td>
                <td>
                    {% if 0 < notas_medias_integrante['entrega'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ notas_medias_integrante['entrega'] }}</h4>
                    {% elif 3 <= notas_medias_integrante['entrega'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ notas_medias_integrante['entrega'] }}</h4>
                    {% elif notas_medias_integrante['entrega'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ notas_medias_integrante['entrega'] }}</h4>
                    {% else %}
                    {% endif %}
                </td>
                <td>
                    {% if 0 < notas_medias_integrante['autogestao'] < 3  %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ notas_medias_integrante['autogestao'] }}</h4>
                    {% elif 3 <= notas_medias_integrante['autogestao'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ notas_medias_integrante['autogestao'] }}</h4>
                    {% elif notas_medias_integrante['autogestao'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ notas_medias_integrante['autogestao'] }}</h4>
                    {% else %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <h3>FEEDBACKS AVALIADORES</h3>
                </td>
                <td>
                    {% for texto in feedbacks_integrante['comunicacao'] %}
                        <h5>• {{ texto }}</h5>
                    {% endfor %}
                </td>
                <td>
                    {% for texto in feedbacks_integrante['engajamento'] %}
                        <h5>• {{ texto }}</h5>
                    {% endfor %}
                </td>
                <td>
                    {% for texto in feedbacks_integrante['conhecimento'] %}
                        <h5>• {{ texto }}</h5>
                    {% endfor %}
                </td>
                <td>
                    {% for texto in feedbacks_integrante['entrega'] %}
                        <h5>• {{ texto }}</h5>
                    {% endfor %}
                </td>
                <td>
                    {% for texto in feedbacks_integrante['autogestao'] %}
                        <h5>• {{ texto }}</h5>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    <h3>AUTO AVALIAÇÃO</h3>
                </td>
                <td>
                    {% if 0 < auto_notas_medias_integrante['comunicacao'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ auto_notas_medias_integrante['comunicacao'] }}</h4>
                    {% elif auto_notas_medias_integrante['comunicacao'] == 3 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ auto_notas_medias_integrante['comunicacao'] }}</h4>
                    {% elif auto_notas_medias_integrante['comunicacao'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ auto_notas_medias_integrante['comunicacao'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < auto_notas_medias_integrante['engajamento'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ auto_notas_medias_integrante['engajamento'] }}</h4>
                    {% elif auto_notas_medias_integrante['engajamento'] == 3 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ auto_notas_medias_integrante['engajamento'] }}</h4>
                    {% elif auto_notas_medias_integrante['engajamento'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ auto_notas_medias_integrante['engajamento'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < auto_notas_medias_integrante['conhecimento'] < 3  %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ auto_notas_medias_integrante['conhecimento'] }}</h4>
                    {% elif auto_notas_medias_integrante['conhecimento'] == 3 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ auto_notas_medias_integrante['conhecimento'] }}</h4>
                    {% elif auto_notas_medias_integrante['conhecimento'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ auto_notas_medias_integrante['conhecimento'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < auto_notas_medias_integrante['entrega'] < 3  %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ auto_notas_medias_integrante['entrega'] }}</h4>
                    {% elif auto_notas_medias_integrante['entrega'] == 3 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ auto_notas_medias_integrante['entrega'] }}</h4>
                    {% elif auto_notas_medias_integrante['entrega'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ auto_notas_medias_integrante['entrega'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < auto_notas_medias_integrante['autogestao'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ auto_notas_medias_integrante['autogestao'] }}</h4>
                    {% elif auto_notas_medias_integrante['autogestao'] == 3 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ auto_notas_medias_integrante['autogestao'] }}</h4>
                    {% elif auto_notas_medias_integrante['autogestao'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ auto_notas_medias_integrante['autogestao'] }}</h4>
                    {% endif %}
                </td>
            </tr>
        </table>
        <footer>
          <img class="rodape-img-table" src="{{ url_for('static', filename='img/avaliacao/Logo_API_PBLTeX.png') }}" alt="img rodape">
        </footer>        
    {% endif %}
    </div>
  </body>  
</html>