<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Menu Integrante</title>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/icones/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/icones/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/icones/favicon-16x16.png') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/integrante/menu_integrante.css') }}">
        {% if darkmode %}
            <style>
            h2, h1 {
                color: snow;
            }
            </style>
        {% endif %}
    </head>

    <body {% if darkmode%} style="background-color: #494949;" {% endif %}>
        <header> 
            <input type="checkbox" id="check" class="bt">
            <label id="icone" for="check" class="bt"> ☰ </label>
        <div class="barra">
            <nav class="menu_lateral">
                <div class="actual_page">MENU PRINCIPAL</div>
                {% if avaliacao_check and sprint_index > count %}
                    <a href="/avaliacao"><div class="link">REALIZAR AVALIAÇÃO </div></a>
                {% else %}
                    <div class="link_disable">REALIZAR AVALIAÇÃO </div>
                {% endif %}
                {% if devolutiva_check %}
                    <a href="/devolutiva_integrante"><div class="link">DEVOLUTIVA DA AVALIAÇÃO</div></a>
                {% else %}
                    <div class="link_disable">DEVOLUTIVA DA AVALIAÇÃO </div>
                {% endif %}
                <a href="/logout"> <div class="link">SAIR ➔ </div></a>
            </nav>
        </div>
        <img id="logo_avaliação" src="{{ url_for('static', filename='img/menu_admin/Logo API (3).png') }}">
        <p><b>Usuário: {{ nomeUsuario }}</b></p>
        </header>

        <img class="details_integrante" src="{{ url_for('static', filename='img/menu_integrante/detalhes.png') }}">

        {% if darkmode %}
            <a href="/darkmode_off"><img class="darkmode_switch" src="{{ url_for('static', filename='img/icones/darkmode.png') }}"></a>
        {% else %}           
            <a href="/darkmode_on"><img class="darkmode_switch" src="{{ url_for('static', filename='img/icones/lightmode.png') }}"></a>
        {% endif %}

        {% if primeiro_acesso %}
            <nav class="opções_menu">
                <h1>Selecione o seu time:</h1>
                <form method="POST" action="{{ url_for('padroes.menu_integrante') }}">
                    <select class="user_info_input" name="user_time" style="border-radius: 3px; font-size: 20px;">                    
                        <option  value="" disabled selected>Nome do time</option>
                        {% for time in times %}
                            <option value="{{ time['codigo'] }}">{{ time['nome'] }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <button class="button_first_access" type="submit" name="confirm">CONFIRMAR</button>
                </form>
            </nav>
        {% else %}
        <nav class="opções_menu">
            {% if sprint_index != 'None' %}
                <h2>Sprint: {{ sprint_index }}</h2>
            {% endif %}
            {% if avaliacao_check and sprint_index > count %}
            <a href="/avaliacao">
                <button class="botao_azul_claro">
                    <strong> REALIZAR AVALIAÇÃO </strong>
                </button>
            </a>
            {% else %}
                <button disabled class="botao_cinza">
                    <strong> REALIZAR AVALIAÇÃO </strong>
                </button>
            {% endif %}
            <br><br>
            {% if devolutiva_check %}
            <a href="/devolutiva_integrante">
                <button class="botao_azul_claro">
                    <strong> DEVOLUTIVA DA AVALIAÇÃO </strong>
                </button>
            </a>
            </a>
            {% else %}
                <button disabled class="botao_cinza">
                    <strong> DEVOLUTIVA DA AVALIAÇÃO </strong>
                </button>
            {% endif %}
        </nav>
        {% endif %}
        <footer>      
            <img class="logo_api_pbletex" src="{{ url_for('static', filename='img/menu_admin/Logo_API_PBLTeX.png') }}">
        </footer>
    </body>
</html>    
</html>
