<html>
  <head>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Prompt:ital@1&family=Roboto:wght@100;400&display=swap');

      body {
        background-color: #a7a7a7;
        font-family: 'Roboto', sans-serif;
        text-align: center;
      }
      .font { 
        font-family: 'Prompt', sans-serif;
      }
    </style>
  </head>
    <body>
      <img  src="https://i.ibb.co/bHSgKsC/Logo-API-3.png" width="300"><br>
      <br>
      <h3>Olá, <span class="font">{{ nome }}</span>!</h3><br>
      Seja bem-vinde a plataforma <b><span class="font">Avaliação 360º!</span></b><br><br>
      <br>
      Em nossa plataforma você poderá realizar as <b>avaliacões</b> referentes aos projetos da sua turma <b><span class="font">{% for turma in turmas %}{% if turma['codigo'] == turma_user %}{{turma['nome']}}!{% endif %}{% endfor %}</span></b><br>
      <br>
      <br>
      Seguem abaixo suas informações de <b>entrada</b> para você não perder:<br>
      <br>
      <b>Login: </b>{{ email }}<br>
      <b>Senha: </b>{{ senha }}<br>
      <br>
      <br>
      Não compartilhe sua senha com <b>ninguém!</b><br>
      <br><br><br><br><br><br><br>
      <img  src="https://i.ibb.co/TTRrqMv/Logo-API-PBLTe-X.png" width="200">
    </body>
</html>