<!DOCTYPE html>
<html>

<head>
  <meta charset="UFT-8"/> <!--extensão para caracteres especiais-->
  <title> AutoAvaliação </title> 
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/autoavaliacao.css') }}">
  {% if darkmode%}
  <style>
    h2 {
      color: white;
    }

    .number {
      color: white;
    }
    
  </style>
  {% endif %}
</head>
<!--- Início do botão de menu -->
<body {% if darkmode%} style="background-color: #494949;" {% endif %}>
  <header>
      <!-- Botão para abrir o menu lateral -->
      <input type="checkbox" id="check" class="bt">
      <label id="icone" for="check" class="bt"> ☰ </label>

  <div class="barra">
    <nav class="menu_lateral">
        <a href="/menu_integrante"> <div class="link">MENU PRINCIPAL</div></a>
        {% if avaliacao_check %}
          <a href="{{ url_for('avaliacao', index=0) }}"><div class="link">REALIZAR AVALIAÇÃO </div></a>
        {% else %}
            <div class="link_disable">REALIZAR AVALIAÇÃO </div>
        {% endif %}
        <a href="/pre_devolutiva"> <div class="link">DEVOLUTIVA DA AVALIAÇÃO</div></a>
        <a href="/"> <div class="link">SAIR ➔ </div></a>
    </nav>
  </div>
  <!--- Fim do botão de menu -->

  <!-- Início do conteúdo do cabeçalho -->
    <img id="logo_avaliação" src="{{ url_for('static', filename='img/avaliacao/Logo copy.png') }}" alt="Logo da plataforma" width="300">
    <p><b>Usuário: {{ nomeUsuario }}</b></p>
  <!-- fim do conteúdo do cabeçalho -->
  </header>
  <!--- Fim do botão de menu -->
  <!-- Conteúdo central da página Autoavaliação-->
    <div class="content">
        <div class="formulario_trc1">
          <h1 class="bt_avaliacao_trc">AUTOAVALIAÇÃO</h1>
          <h2 style="color: gray">Sprint: {{ sprint_index }}</h2>
          <form class="formulario" method="POST" action="{{ url_for('autoavaliacao_submit') }}">        
            <h2>• Comunicação e Trabalho em Equipe</h2>
            <input class="input_radio" type="radio" name="comunicacao" value="1" required><a class="number"> 1</a>
            <input class="input_radio" type="radio" name="comunicacao" value="2" required><a class="number"> 2</a>
            <input class="input_radio" type="radio" name="comunicacao" value="3" required><a class="number"> 3</a>
            <input class="input_radio" type="radio" name="comunicacao" value="4" required><a class="number"> 4</a>
            <input class="input_radio" type="radio" name="comunicacao" value="5" required><a class="number"> 5</a>

            <h2>• Engajamento e Pró-atividade</h2>
            <input class="input_radio" type="radio" name="engajamento" value="1" required><a class="number"> 1</a>
            <input class="input_radio" type="radio" name="engajamento" value="2" required><a class="number"> 2</a>
            <input class="input_radio" type="radio" name="engajamento" value="3" required><a class="number"> 3</a>
            <input class="input_radio" type="radio" name="engajamento" value="4" required><a class="number"> 4</a>
            <input class="input_radio" type="radio" name="engajamento" value="5" required><a class="number"> 5</a>

            <h2>• Conhecimento e Aplicabilidade Técnica</h2>
            <input class="input_radio" type="radio" name="conhecimento" value="1" required><a class="number"> 1</a>
            <input class="input_radio" type="radio" name="conhecimento" value="2" required><a class="number"> 2</a>
            <input class="input_radio" type="radio" name="conhecimento" value="3" required><a class="number"> 3</a>
            <input class="input_radio" type="radio" name="conhecimento" value="4" required><a class="number"> 4</a>
            <input class="input_radio" type="radio" name="conhecimento" value="5" required><a class="number"> 5</a>

            <h2>• Entrega de Resultados com Valor Agregado</h2>
            <input class="input_radio" type="radio" name="entrega" value="1" required><a class="number"> 1</a>
            <input class="input_radio" type="radio" name="entrega" value="2" required><a class="number"> 2</a>
            <input class="input_radio" type="radio" name="entrega" value="3" required><a class="number"> 3</a>
            <input class="input_radio" type="radio" name="entrega" value="4" required><a class="number"> 4</a>
            <input class="input_radio" type="radio" name="entrega" value="5" required><a class="number"> 5</a>

            <h2>• Auto-gestão das Atividades</h2>
            <input class="input_radio" type="radio" name="autogestao" value="1" required><a class="number"> 1</a>
            <input class="input_radio" type="radio" name="autogestao" value="2" required><a class="number"> 2</a>
            <input class="input_radio" type="radio" name="autogestao" value="3" required><a class="number"> 3</a>
            <input class="input_radio" type="radio" name="autogestao" value="4" required><a class="number"> 4</a>
            <input class="input_radio" type="radio" name="autogestao" value="5" required><a class="number"> 5</a>

            <button class="bt_confirmar_trc" type="submit">CONFIRMAR</button>
            </form>

  <img class="legenda_trc" src="{{ url_for('static', filename='img/avaliacao/legenda.png') }}" alt="legenda">


  <footer>
    <img class="rodape-img" src="{{ url_for('static', filename='img/avaliacao/Logo_API_PBLTeX.png') }}" alt="img rodape">
  </footer>
  </div>
  </div>
  </label>
</body>  
</html>