<!DOCTYPE html>
<html>

<head>
  <meta charset="UFT-8"/> <!--extensão para caracteres especiais-->
  <title> Autoavaliação </title> 
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/autoavaliacao.css') }}">
</head>
<!-- Início do conteúdo do cabeçalho -->
<header class="cabecalho">
    <img class="cabecalho_img" src="{{ url_for('static', filename='img/autoavalicao/img_inicial.jpg') }}" alt="Logo da avaliação 360º">
    <h3 class="cabecalho_img">Usuário: </h3>
</header>
<!-- fim do conteúdo do cabeçalho -->

<!--- Início do botão de menu -->
<header>
    <!-- Botão para abrir o menu lateral -->
    <input type="checkbox" id="check" class="bt">
    <label id="icone" for="check" class="bt"> ☰ </label>

<div class="barra">
    <nav>
        <a href=""> <div class="link">MENU PRINCIPAL</div></a>
        <a href=""> <div class="link">CADASTRAR INTEGRANTE</div></a>
        <a href=""> <div class="link">CONTROLE GERAL TURMA/TIME/SPRINTS</div></a>
        <a href=""> <div class="link">CONTROLE DE PERFIL</div></a>
        <a href=""> <div class="link">DEVOLUTIVA DE AVALIAÇÃO</div></a>
        <a href=""> <div class="link">DASHBOARDS OPERACIONAIS</div></a>
        <a href=""> <div class="link">DASHBOARDS GERENCIAIS</div></a>
        <br>
        <br>
        <a href=""> <div class="link">SAIR ➔ </div></a>
    </nav>
</div> 
<!--- Fim do botão de menu -->

<!-- Início do conteúdo do cabeçalho -->
  <img id="logo_avaliação" src="{{ url_for('static', filename='img/cadastro/Logo.png') }}" alt="Logo da plataforma" width="300">
  <p><b>Identificação do Usuário</b></p>
<!-- fim do conteúdo do cabeçalho -->
</header>
<!--- Fim do botão de menu -->

<!-- Conteúdo central da página Autoavaliação-->
    <h1 class="bt_avaliacao_trc">AUTOAVALIAÇÃO</h1>  
    <ul>
    <div class="formulario_trc">
      <form>
        <label>
      <li><h1><em>Sprint</em></h1></li>
      <input type="radio" name="comunicacao" value="1"> 1
      <input type="radio" name="comunicacao" value="2"> 2
      <input type="radio" name="comunicacao" value="3"> 3
      <input type="radio" name="comunicacao" value="4"> 4
      <br>
      <br>
      <br>
        </label>
      </form>
    
      <form>
        <label>
      <li><h3><b>Comunicação e Trabalho em Equipe</b></h3></li>
      <input type="radio" name="comunicacao" value="1"> 1
      <input type="radio" name="comunicacao" value="2"> 2
      <input type="radio" name="comunicacao" value="3"> 3
      <input type="radio" name="comunicacao" value="4"> 4
      <input type="radio" name="comunicacao" value="5"> 5
      <br>
      <br>
        </label>
      </form>    
      <li><h3><b>Engajamento e Pró-atividade</b></h3></li>
      <input type="radio" name="engajamento" value="1"> 1
      <input type="radio" name="engajamento" value="2"> 2
      <input type="radio" name="engajamento" value="3"> 3
      <input type="radio" name="engajamento" value="4"> 4
      <input type="radio" name="engajamento" value="5"> 5
      <br>
      <br>
      <br>
      <br>
  
    <li><h3><b>Conhecimento e Aplicabilidade Técnica</b></h3></li>
      <input type="radio" name="conhecimento" value="1"> 1
      <input type="radio" name="conhecimento" value="2"> 2
      <input type="radio" name="conhecimento" value="3"> 3
      <input type="radio" name="conhecimento" value="4"> 4
      <input type="radio" name="conhecimento" value="5"> 5
    <br>
    <br>
    <li><h3><b>Entrega de Resultados com Valor Agregado</b></h3></li>
      <input type="radio" name="entrega" value="1"> 1
      <input type="radio" name="entrega" value="2"> 2
      <input type="radio" name="entrega" value="3"> 3
      <input type="radio" name="entrega" value="4"> 4
      <input type="radio" name="entrega" value="5"> 5
    <br>
    <br>
  
    <li><h3><b>Auto-gestão das Atividades</b></h3></li>
      <input type="radio" name="autogestao" value="1"> 1
      <input type="radio" name="autogestao" value="2"> 2
      <input type="radio" name="autogestao" value="3"> 3
      <input type="radio" name="autogestao" value="4"> 4
      <input type="radio" name="autogestao" value="5"> 5
      <br>
      <br>
    
    <!-- Legenda da avaliação-->
    <img class="legenda_trc" src="{{ url_for('static', filename='img/autoavalicao/legenda.png') }}" alt="legenda">
<!-- Fim do conteúdo central da página Autoavaliação-->
    <br>
    <br>
    <input class="bt_confirmar_trc" type="submit" value="CONFIRMAR">
    </div>
    </form>
  </label>
  </ul>
<!--- Início do rodapé da página-->
    <footer>
      <center>
    <img class="rodape-img" src="{{ url_for('static', filename='img/autoavalicao/img_final.png') }}" alt="img rodape">
  </center>  
</footer>
<!--- Fim do conteúdo do rodapé da página-->
</body>  
</html>