<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Avaliação de Integrantes</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/avaliacao.css') }}">
    </head>

    <body>
        <!--- Início do botão de menu -->
        <header>
            <!-- Botão para abrir o menu lateral -->
            <input type="checkbox" id="check" class="bt">
            <label id="icone" for="check" class="bt"> ☰ </label>
        
        <div class="barra">
            <nav class="menu_lateral">
                <a href="menu_Admin.html"> <div class="link">MENU PRINCIPAL</div></a>
                <a href="cadastro.html"> <div class="link">CADASTRAR INTEGRANTE</div></a>
                <a href=""> <div class="link">CONTROLE GERAL TURMA/TIME/SPRINTS</div></a>
                <a href=""> <div class="link">CONTROLE DE PERFIL</div></a>
                <a href=""> <div class="link">DEVOLUTIVA DE AVALIAÇÃO</div></a>
                <a href=""> <div class="link">DASHBOARDS OPERACIONAIS</div></a>
                <a href=""> <div class="link">DASHBOARDS GERENCIAIS</div></a>
                <a href="login.html"> <div class="link">SAIR ➔ </div></a>
            </nav>
        </div>
        <!--inicio do conteúdo do cabeçalho-->

        <id class="cabecalho">
            <img class="img_inicial" src="{{ url_for('static', filename='img/avaliacao/img_inicial.png') }}" alt="Logo da avaliação 360º" width="300">
            <p><b>Identificação de Usuário</b></p>
        <!-- fim do conteúdo do cabeçalho -->
        </id> </header>
        <!--fim do botão de menu-->

        <!--CONTEUDO CENTRAL DA PAGINA DE AVALIAÇÃO-->
        
        <div class="titulos">
        <h3 id="bt_avaliar">Avaliar Integrante</h3>
            <ul>   
                <li>
                    <form class="formulario_avaliacao" method="POST" action="{{ url_for('avaliacao_submit') }}">
                        <label>
                        <h3>Sprint</h3>                            
                        <span>
                        <input type="radio" name="sprint" value="1">1
                        <input type="radio" name="sprint" value="2">2
                        <input type="radio" name="sprint" value="3">3
                        <input type="radio" name="sprint" value="4">4
                        <input type="radio" name="sprint" value="5">5
                        </span>
                        </label>
                </li>
            </ul>
            
        <h3>Integrante avaliado:</h3>
        </div>
       
      <ul>
        <div class="formulario_mcs">
                    <label>
                        <li>Comunicação e Trabalho em Equipe</li>
                        <input type="radio" name="comunicacao" value="1">1
                        <input type="radio" name="comunicacao" value="2">2
                        <input type="radio" name="comunicacao" value="3">3
                        <input type="radio" name="comunicacao" value="4">4
                        <input type="radio" name="comunicacao" value="5">5
                        <span></span>
                    </label>

        <br/>

                <label>
                    <li>Engajamento e Pró-atividade</li>
                    <input type="radio" name="engajamento" value="1">1
                    <input type="radio" name="engajamento" value="2">2
                    <input type="radio" name="engajamento" value="3">3
                    <input type="radio" name="engajamento" value="4">4
                    <input type="radio" name="engajamento" value="5">5
                    <span></span>
                </label>

        </div>
            
        <div class="formulario_mcs2">
                <label>
                    <li>Entrega de Resultados com valor Agregado</li>
                    <input type="radio" name="entrega" value="1">1
                    <input type="radio" name="entrega" value="2">2
                    <input type="radio" name="entrega" value="3">3
                    <input type="radio" name="entrega" value="4">4
                    <input type="radio" name="entrega" value="5">5
                    <span></span>
                </label>
            
        <br/>

                <label>
                    <li>Conhecimento e Aplicabilidade Técnica</li>
                    <input type="radio" name="conhecimento" value="1">1
                    <input type="radio" name="conhecimento" value="2">2
                    <input type="radio" name="conhecimento" value="3">3
                    <input type="radio" name="conhecimento" value="4">4
                    <input type="radio" name="conhecimento" value="5">5
                
                    <span></span>
                </label>

        </div>
        <div class="formulario_mcs3">
                <label>
                    <li>Auto-gestão das Atividades</li>
                    <input type="radio" name="autogestao" value="1">1
                    <input type="radio" name="autogestao" value="2">2
                    <input type="radio" name="autogestao" value="3">3
                    <input type="radio" name="autogestao" value="4">4
                    <input type="radio" name="autogestao" value="5">5
                    <span></span>
                </label>
        </ul>

        </form>
        
    </div>
        
    
        <h4 id="campo-feedback">Escreva aqui seu feedback para o integrante avaliado</h4>

        

        <img id="Legenda_mcs" src="{{ url_for('static', filename='img/avaliacao/Legenda.png') }}">  
                
      

        <button class="button" type="submit">CONFIRMAR</button>

        <!--final da pagina-->
        <footer>
            <center>
            <img src="{{ url_for('static', filename='img/avaliacao/Logo.png') }}" alt="logo PBLTEX"/>
        </center>
        </footer>
    </body>
</html>
