<!DOCTYPE html>
<html>
    <head>
        <meta charset="UFT-8"/>
        <title>Controle Perfil</title> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/controle_perfil.css') }}">
    </head>

    <body>
        <header> 
            <input type="checkbox" id="check" class="bt">
            <label id="icone" for="check" class="bt"> ☰ </label>
        
        <div class="barra">
            <nav class="menu_lateral">
                <a href="/menu_admin"> <div class="link">MENU PRINCIPAL</div></a>
                <a href="/cadastro"> <div class="link">CADASTRAR INTEGRANTE</div></a>
                <a href="/controle_geral"> <div class="link">CONTROLE GERAL TURMA/TIME/SPRINTS</div></a>
                <a href="/controle_perfil"> <div class="link">CONTROLE DE PERFIL</div></a>
                <a href="/pre_devolutiva_admin"> <div class="link">DEVOLUTIVA DE AVALIAÇÃO</div></a>
                <a href="/dashboards_operacionais"> <div class="link">DASHBOARDS OPERACIONAIS</div></a>
                <a href="/dashboards_gerenciais"> <div class="link">DASHBOARDS GERENCIAIS</div></a>
                <a href="/"> <div class="link">SAIR ➔ </div></a>
            </nav>
        </div>
        <img id="logo_avaliação" src="{{ url_for('static', filename='img/menu_admin/Logo API (3).png') }}" width="300">
        <p><b>Usuário: {{ nomeUsuario }}</b></p>
        </header>
        <div class="controle_container">          
          <h1 class="bt_controle">CONTROLE DE PERFIL</h1>
          <h1 class="bt_avaliacao_trc">NOME</h1>           
          <h1 class="bt_avaliacao_trc">SEMESTRE</h1>     
          <h1 class="bt_avaliacao_trc">TURMA</h1>          
          <h1 class="bt_avaliacao_trc">TIME</h1>           
          <h1 class="bt_avaliacao_trc">PERFIL</h1> 
        </div>
        <div class="usuarios_container">    
            {% for user in users %}
                <table class="user_infos">
                    <tr>
                        <td>
                            <h1 class="user_info">{{ user['nome'] }}</h1>
                        </td>
                        <td>
                            <h1 class="user_info">{{ user['semestre'] }}</h1>
                        </td>
                        <td>
                            <h1 class="user_info">{{ user['turma'] }}</h1>
                        </td>
                        <td>
                            <h1 class="user_info">{{ user['turma'] }}</h1>
                        </td>
                        <td>
                            <form class="edit_form" method="POST" action="{{ url_for('update_perfil') }}">
                                {% if editing %}
                                    {% if index == user['index']  %}
                                        <input type="hidden" name="index" value="{{ user['index'] }}">
                                        <input type="text" class="user_info_input" name="edited_perfil" value="{{ user['perfil'] }}" style="border-radius: 3px; font-size: 20px;">
                                        <button type="submit" class="save_button" name="save">
                                            <img src="https://cdn-icons-png.flaticon.com/512/5291/5291043.png" class="save_icon" alt="save_icon">
                                        </button>                                          
                                    {% else %}
                                        <h1 class="user_info">{{ user['perfil'] }}</h1>
                                    {% endif %}                             
                                {% else %}
                                    <h1 class="user_info">{{ user['perfil'] }}</h1>
                                    <input type="hidden" name="index" value="{{ user['index'] }}">
                                    <button type="submit" class="edit_button" name="edit">
                                        <img src="https://cdn-icons-png.flaticon.com/512/45/45706.png" class="edit_icon" alt="edit_icon">
                                    </button>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                </table>
            {% endfor %}
            <footer>      
                <img id="logo_api_pbletex" src="{{ url_for('static', filename='img/menu_admin/Logo_API_PBLTeX.png') }}" width="250">
            </footer>
        </div>

        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>    
</html>    