<!DOCTYPE html>
<html>
    <head>
        <meta charset="UFT-8"/>
        <title>Controle Geral</title> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/controle_geral.css') }}">
    </head>

    <body>
        <header> 
            <input type="checkbox" id="check" class="bt">
            <label id="icone" for="check" class="bt"> ☰ </label>
        
        <div class="barra">
            <nav class="menu_lateral">
                <a href="/menu_admin"> <div class="link">MENU PRINCIPAL</div></a>
                <a href="/controle_turmas"> <div class="link">CONTROLE DE TURMAS/TIMES</div></a>
                <a href="/controle_geral"> <div class="link">CONTROLE INTEGRANTES</div></a>
                <a href="/pre_devolutiva_admin"> <div class="link">DEVOLUTIVA DE AVALIAÇÃO</div></a>
                <a href="/dashboards_operacionais"> <div class="link">DASHBOARDS OPERACIONAIS</div></a>
                <a href="/dashboards_gerenciais"> <div class="link">DASHBOARDS GERENCIAIS</div></a>
                <a href="/"> <div class="link">SAIR ➔ </div></a>
            </nav>
        </div>
        <img id="logo_avaliação" src="{{ url_for('static', filename='img/menu_admin/Logo API (3).png') }}" width="300">
        <p><b>Usuário: {{ nomeUsuario }}</b></p>
        </header>
        <div class="controle_container">
            <h1 class="bt_controle">CONTROLE GERAL</h1>
        </div>
        <div class="usuarios_container">  
            <table class="user_infos">
                    <tr>
                        <td>
                            <h1 class="user_info_default">NOME</h1>
                        </td>
                        <td>
                            <h1 class="user_info_default">TURMA</h1>
                        </td>
                        <td>          
                            <h1 class="user_info_default">TIME</h1>
                        </td>
                        <td>         
                            <h1 class="user_info_default">PERFIL</h1>
                        </td>
                    </tr>
                {% for user in users %} 
                    <tr>    
                        <td>
                            <h1 class="user_info">{{ user['nome'] }}</h1>
                        </td>
                        <td>
                            <form class="edit_form" method="POST" action="{{ url_for('update_geral') }}">
                            {% if editing and index == user['index'] %}
                                <select class="user_info_input" name="edited_turma" style="border-radius: 3px; font-size: 20px;">
                                    {% for turma in turmas %} 
                                        {% if user['turma'] == turma['codigo'] %}                                        
                                            <option  value="{{ turma['codigo'] }}">{{ turma['nome'] }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    {% for turma in turmas %} 
                                        {% if turma['codigo'] != user['turma'] %}
                                            <option value="{{ turma['codigo'] }}">{{ turma['nome'] }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            {% else %}
                                {% for turma in turmas %} 
                                    {% if user['turma'] == turma['codigo'] %}                                        
                                        <h1 class="user_info">{{ turma['nome'] }}</h1>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            {% if editing and index == user['index'] %}
                                <select class="user_info_input" name="edited_time" style="border-radius: 3px; font-size: 20px;">   
                                    {% for time in times %} 
                                        {% if user['time'] == time['codigo'] %}
                                            <option  value="{{ time['codigo'] }}">{{ time['nome'] }}</option>
                                        {% endif %}
                                    {% endfor %}                                 
                                    {% for time in times %}
                                        {% if time['codigo'] != user['time'] %} 
                                            <option value="{{ time['codigo'] }}">{{ time['nome'] }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            {% else %}
                                {% for time in times %} 
                                    {% if user['time'] == time['codigo'] %}                                        
                                        <h1 class="user_info">{{ time['nome'] }}</h1>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            {% if editing %}
                                {% if index == user['index']  %}
                                    <input type="hidden" name="index" value="{{ user['index'] }}">
                                    <select class="user_info_input" name="edited_perfil" style="border-radius: 3px; font-size: 20px;">
                                        {% if user['perfil']  == 1  %}   
                                            <option value="1">Usuário</option>   
                                            <option value="2">Administrador</option>                                   
                                        {% else %}
                                            <option value="2">Administrador</option>     
                                            <option value="1">Usuário</option>   
                                        {% endif %}
                                    </select>
                                {% else %}
                                    {% if user['perfil'] == 1  %}     
                                        <h1 class="user_info">Usuário</h1>                                        
                                    {% else %}
                                        <h1 class="user_info">Administrador</h1>
                                    {% endif %}           
                                {% endif %}                                                                        
                            {% else %}
                                {% if user['perfil']  == 1  %}     
                                    <h1 class="user_info">Usuário</h1>                                        
                                {% else %}
                                    <h1 class="user_info">Administrador</h1>
                                {% endif %}  
                                <input type="hidden" name="index" value="{{ user['index'] }}">
                            {% endif %}
                        </td>
                        <td>
                            {% if editing %}
                                {% if index == user['index']  %}
                                    <button type="submit" class="save_button" name="save">
                                        <img src="https://cdn-icons-png.flaticon.com/512/5291/5291043.png" class="save_icon" alt="save_icon">
                                    </button>
                                    <button type="submit" class="delete_button" name="delete">
                                        <img src="https://cdn-icons-png.flaticon.com/512/2891/2891491.png" class="save_icon" alt="save_icon">
                                    </button>
                                {% endif %}                         
                            {% else %}
                                <button type="submit" class="edit_button" name="edit">
                                    <img src="https://cdn-icons-png.flaticon.com/512/45/45706.png" class="edit_icon" alt="edit_icon">
                                </button>
                            {% endif %}
                        </form>
                        </td>
                    </tr>
                {% endfor %}            
            </table>
            <footer>      
                <img id="logo_api_pbletex" src="{{ url_for('static', filename='img/menu_admin/Logo_API_PBLTeX.png') }}" width="250">
            </footer>
        </div>
    </body>
</html>    