<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Devolutiva de Avaliação</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/devolutiva_avaliacao.css') }}">
    </head>

    <body>
        <!--- Início do botão de menu -->
        <header>
            <!-- Botão para abrir o menu lateral -->
            <input type="checkbox" id="check" class="bt">
            <label id="icone" for="check" class="bt"> ☰ </label>
        
          <div class="barra">
            <nav class="menu_lateral">
                <a href="Menu_Admin.html"> <div class="link">MENU PRINCIPAL</div></a>
                <a href=""> <div class="link">CADASTRAR INTEGRANTE</div></a>
                <a href=""> <div class="link">CONTROLE GERAL TURMA/TIME/SPRINTS</div></a>
                <a href=""> <div class="link">CONTROLE DE PERFIL</div></a>
                <a href=""> <div class="link">DEVOLUTIVA DE AVALIAÇÃO</div></a>
                <a href=""> <div class="link">DASHBOARDS OPERACIONAIS</div></a>
                <a href=""> <div class="link">DASHBOARDS GERENCIAIS</div></a>
                <a href=""> <div class="link">SAIR ➔ </div></a>
            </nav>
        </div>
        
        <!--inicio do conteúdo do cabeçalho-->

        <id class="cabecalho">
            <img class="img_inicial" src="{{ url_for('static', filename='img/avaliacao/img_inicial.png') }}" alt="Logo da avaliação 360º" width="1000">
            <p><b>Usuário: {{ nomeUsuario }}</b></p>
        <!-- fim do conteúdo do cabeçalho -->
        </id> </header>
        <!--fim do botão de menu-->

        <!--CONTEUDO CENTRAL DA PAGINA DE AVALIAÇÃO-->
        
        <div class="titulos">
        <h3 id="bt_avaliar">Devolutiva de Avaliação</h3>
            <ul>   
                <li>
                    <form class="formulario_avaliacao" method="POST" action="{{ url_for('avaliacao_submit') }}">
                        <label>
                        <h3>Sprint</h3>                            
                        <span>
                        <input type="radio" name="sprint" value="1">1
                        <input type="radio" name="sprint" value="2">2
                        <input type="radio" name="sprint" value="3">3
                        <input type="radio" name="sprint" value="4">4
                        </span>
                        </label>
                </li>
            </ul>
            
        </div>
       
      <ul>
        <div>
                <label>
                    <li class="questao">Comunicação e Trabalho em Equipe</li>
                        
                    <p>Autoavaliação:<input type="escrita"><br/></p>
                    <p>Avaliadores:<input type="escrita"><br/></p>
        <br/>
                <label>
                    <li class="questao">Engajamento e Pró-atividade</li>

                    <p>Autoavaliação:<input type="escrita"><br/></p>
                    <p>Avaliadores:<input type="escrita"><br/></p>
        </div>
            
        <div>
                <label>
                    <li class="questao">Entrega de Resultados com valor Agregado</li>
                    <p>Autoavaliação:<input type="escrita"><br/></p>
                    <p>Avaliadores:<input type="escrita"><br/></p>
            
        <br/>
                    <li class="questao">Conhecimento e Aplicabilidade Técnica</li>
                    <p>Autoavaliação:<input type="escrita"><br/></p>
                    <p>Avaliadores:<input type="escrita"><br/></p>

        </div>
                <label>
                    <li class="questao">Auto-gestão das Atividades</li>
                    <p>Autoavaliação:<input type="escrita"><br/></p>
                    <p>Avaliadores:<input type="escrita"><br/></p>
                </label>
        </ul>
      
        <h2>Feedbacks Recebidos:</h2>
        <h4 id="campo-feedback">Escreva aqui seu feedback para o integrante avaliado</h4>
<br/>
        <button class="button" type="submit">CONFIRMAR</button>

        <br/>

        <img id="Legenda_mcs" src="{{ url_for('static', filename='img/avaliacao/Legenda.png') }}">  
                
        <!--final da pagina-->
        <footer>
            <center>
            <img src="{{ url_for('static', filename='img/avaliacao/Logo.png') }}" alt="logo PBLTEX"/>
        </center>
        </footer>
    </body>
</html>
