<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>
    <header> 
    <img id="logo_avaliação" src="{{ url_for('static', filename='img/cadastro/Logo.png') }}" alt="Logo da plataforma" width="300">
    </header>

    <a href="/cadastro"><button type="button">Cadastro</button></a>    
    <a href="/avaliacao"><button type="button">Avaliacao</button></a>    
    <a href="/autoavaliacao"><button type="button">Autoavaliacao</button></a>    
    <a href="/login"><button type="button">Login</button></a>    
    <a href="/menu_admin"><button type="button">Menu</button></a>
    <a href="/menu_integrante"><button type="button">Menu Integrante</button></a>    
     
    <footer>      
        <img id="logo_api_pbletex" src="{{ url_for('static', filename='img/menu_admin/Logo_API_PBLTeX.png') }}" width="250">
    </footer>
</body>
</html>