<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<title>Avaliação 360°</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu_admin.css') }}">
</head>

<div>
	<img src="{{ url_for('static', filename='img/login/Layout API-2.png') }}" title="LOGO">
</div>
<body>

<div class="texto" >
	<center>
		<h3>Faça seu login aqui!</h>
	</center>   
</div>
	<div >
		<input type="text" name="nome" placeholder= "Digite seu e-mail:">

	    <input type="password" name="password" placeholder="Digite sua senha">
	</div>	
	<center>
    	<button>Acessar</button>
	</center>
</body>
