<!DOCTYPE html>
<html>
    <head>
        <meta charset="UFT-8"/>
        <title>Opções Usuário - Avaliação 360º PBLTeX</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu_integrante.css') }}">
        {% if darkmode %}
            <style>
            h2 {
                color: white;
            }
            </style>
        {% endif %}
    </head>

    <body {% if darkmode%} style="background-color: #494949;" {% endif %}>
        <header> 
            <input type="checkbox" id="check" class="bt">
            <label id="icone" for="check" class="bt"> ☰ </label>
        <div class="barra">
            <nav class="menu_lateral">
                <a href="/menu_integrante"> <div class="link">MENU PRINCIPAL</div></a>
                {% if avaliacao_check and sprint_index > count %}
                    <a href="/avaliacao"><div class="link">REALIZAR AVALIAÇÃO </div></a>
                {% else %}
                    <div class="link_disable">REALIZAR AVALIAÇÃO </div>
                {% endif %}
                <a href="/pre_devolutiva"><div class="link">DEVOLUTIVA DA AVALIAÇÃO</div></a>
                <a href="/"> <div class="link">SAIR ➔ </div></a>
            </nav>
        </div>
        <img id="logo_avaliação" src="{{ url_for('static', filename='img/menu_admin/Logo API (3).png') }}" width="300">
        <p><b>Usuário: {{ nomeUsuario }}</b></p>
        </header>

        <img id="details_integrante" src="{{ url_for('static', filename='img/menu_integrante/Logo_API_Menu_integrante.png') }}" width="300">


        {% if darkmode %}
            <a href="/darkmode_off"><img class="darkmode_switch" src="{{ url_for('static', filename='img/icones/darkmode.png') }}" width="100"></a>
        {% else %}           
            <a href="/darkmode_on"><img class="darkmode_switch" src="{{ url_for('static', filename='img/icones/lightmode.png') }}" width="100"></a>
        {% endif %}

        {% if primeiro_acesso %}
            <nav class="opções_menu">
                <h1>Selecione o seu time:</h1>
                <form method="POST" action="{{ url_for('menu_integrante') }}">
                    <select class="user_info_input" name="user_time" style="border-radius: 3px; font-size: 20px;">                    
                        <option  value="" disabled selected>Nome do time</option>
                        {% for time in times %}
                            <option value="{{ time['codigo'] }}">{{ time['nome'] }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <button class="button_first_access" type="submit" name="confirm">CONFIRMAR</button>
                </form>
            </nav>
        {% else %}
        <nav class="opções_menu">
            {% if sprint_index != 'None' %}
                <h2>Sprint: {{ sprint_index }}</h2>
            {% endif %}
            {% if avaliacao_check and sprint_index > count %}
            <a href="/avaliacao">
                <button class="botao_azul_claro">
                    <strong> REALIZAR AVALIAÇÃO </strong>
                </button>
            </a>
            {% else %}
                <button disabled class="botao_cinza">
                    <strong> REALIZAR AVALIAÇÃO </strong>
                </button>
            {% endif %}
            <br><br>
            <a href="/pre_devolutiva">
                <button class="botao_azul_claro">
                    <strong> DEVOLUTIVA DA AVALIAÇÃO </strong>
                </button>
            </a>
        </nav>
        {% endif %}
        <footer>      
            <img id="logo_api_pbletex" src="{{ url_for('static', filename='img/menu_admin/Logo_API_PBLTeX.png') }}" width="250">
        </footer>
    </body>
</html>    
</html>
