<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Devolutiva de Avaliação</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pre_devolutiva_avaliacao.css') }}">
        {% if darkmode%}
            <style>
            h3 {
                color: white;
            }

            .number {
                color: white;
            }
            </style>
        {% endif %}
    </head>
    <body {% if darkmode%} style="background-color: #494949;" {% endif %}>
    <header>
        <!-- Botão para abrir o menu lateral -->
        <input type="checkbox" id="check" class="bt">
        <label id="icone" for="check" class="bt"> ☰ </label>
    
    <div class="barra">
        <nav class="menu_lateral">
            <a href="/menu_integrante"> <div class="link">MENU PRINCIPAL</div></a>
            {% if avaliacao_check and sprint_index > count %}
                <a href="/avaliacao"><div class="link">REALIZAR AVALIAÇÃO </div></a>
            {% else %}
                <div class="link_disable">REALIZAR AVALIAÇÃO</div>
            {% endif %}
            <a href="/pre_devolutiva"> <div class="link">DEVOLUTIVA DA AVALIAÇÃO</div></a>
            <a href="/"> <div class="link">SAIR ➔ </div></a>
        </nav>
    </div>
    <!--- Fim do botão de menu -->
    
    <!-- Início do conteúdo do cabeçalho -->
      <img id="logo_avaliação" src="{{ url_for('static', filename='img/avaliacao/Logo copy.png') }}" alt="Logo da plataforma" width="300">
      <p><b>Usuário: {{ nomeUsuario }}</b></p>
    <!-- fim do conteúdo do cabeçalho -->
    </header>
        <!--fim do botão de menu-->

        <!--CONTEUDO CENTRAL DA PAGINA DE AVALIAÇÃO-->
    <body {% if darkmode%} style="background-color: #494949;" {% endif %}>
        <div class="titulos">
        <h3 id="bt_avaliar">Devolutiva de Avaliação</h3>
            <form class="formulario_avaliacao" method="POST" action="{{ url_for('devolutivas.pre_devolutiva_submit') }}">
                <h3>Selecione a Sprint:</h3>      
                {% for i in range(1,team_sprints+1) %}
                    <input type="radio" name="sprint" value="{{ i }}" required><a class="number"> {{ i }}</a>
                {% endfor %}
                <br>
                <br>        
                <button class="bt_confirmar_trc" type="submit">CONFIRMAR</button>
            <form> 
        <footer>
            <img class="rodape-img" src="{{ url_for('static', filename='img/avaliacao/Logo_API_PBLTeX.png') }}" alt="img rodape">
        </footer>
    </body>

</html>
