<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Devolutiva de Avaliação</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pre_devolutiva_admin.css') }}">
    </head>
    <body {% if darkmode%} style="background-color: #494949;" {% endif %}>
    
    <header>
        <!-- Botão para abrir o menu lateral -->
        <input type="checkbox" id="check" class="bt">
        <label id="icone" for="check" class="bt"> ☰ </label>
    
        <div class="barra">
            <nav class="menu_lateral">
                <a href="/menu_admin"> <div class="link">MENU PRINCIPAL</div></a>
                <a href="/controle_turmas"> <div class="link">CONTROLE DE TURMAS/TIMES</div></a>
                <a href="/controle_geral"> <div class="link">CONTROLE DE INTEGRANTES</div></a>
                <a href="/controle_sprints"> <div class="link">CONTROLE DE SPRINTS</div></a>
                <a href="/pre_devolutiva_admin"> <div class="link">DEVOLUTIVA DE AVALIAÇÃO</div></a>
                <a href="/dashboards_operacionais"> <div class="link">DASHBOARDS OPERACIONAIS</div></a>
                <a href="/dashboards_gerenciais"> <div class="link">DASHBOARDS GERENCIAIS</div></a>
                <a href="/"> <div class="link">SAIR ➔ </div></a>
            </nav>
        </div>
    <!--- Fim do botão de menu -->
    
    <!-- Início do conteúdo do cabeçalho -->
      <img id="logo_avaliação" src="{{ url_for('static', filename='img/avaliacao/Logo copy.png') }}" alt="Logo da plataforma" width="300">
      <p><b>Usuário: {{ nomeUsuario }}</b></p>
    <!-- fim do conteúdo do cabeçalho -->
    </header>
        <!--fim do botão de menu-->

        <!--CONTEUDO CENTRAL DA PAGINA DE AVALIAÇÃO-->
    <body>
        <div class="titulos">
        <h3 id="bt_avaliar">Devolutiva de Avaliação</h3>
            <form class="formulario_avaliacao" method="POST" action="{{ url_for('pre_devolutiva_submit_admin') }}">
                <h3>Selecione a Sprint:</h3>      
                <input type="radio" class="sprint" name="sprint" value="1" required>1
                <input type="radio" class="sprint" name="sprint" value="2" required>2
                <input type="radio" class="sprint" name="sprint" value="3" required>3
                <input type="radio" class="sprint" name="sprint" value="4" required>4
                <br>
                <br>        
                <button class="bt_confirmar_trc" type="submit">CONFIRMAR</button>
                
                <h3>Selecione o Integrante:</h3>      
                <select name="integrante" required style="width: 200px; height: 30px; border-radius: 20px; margin-left: -4%;" >
                    <option  value="">Turma - Time - Nome</option>
                    {% for user in users %} 
                      {% if user['perfil'] != 2 %}
                        <option value="{{ user['email'] }}">{{ user['semestre'] }} - {{ user['turma'] }} - {{ user['nome'] }}</option>
                      {% endif %}
                    {% endfor %}
                </select>
            <form>  
        <footer>
            <img class="rodape-img" src="{{ url_for('static', filename='img/avaliacao/Logo_API_PBLTeX.png') }}" alt="img rodape">
        </footer>    
    </body>
</html>
