
body{
    margin-top: 180px;
    background-color: #011e36;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    padding: 3;
    display:  block;
    
}
h3{
    font-size: 35px;
    margin-top: 150px;
    margin-bottom: 1px;
    max-width: 50%;
    margin-left: 65%;
    display: flex;
}

button{
    
    background-color: #275368;
    color: #fdd096;
    font-size: 20px;
    height: 40px;
    width: 200px;
    border-radius: 100px;
    margin-top: 30px;
    
    
    
}
.text{
    height: auto;
    width: auto;
    margin-right: 150px;

    
    
}
input{
    margin-top: 40px;
    background-color: #89cfc9;
    color: #275368;
    border-radius: 50px;
    width: 300px;
    height: 45px;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 1px;


}  
  
img {
    width: 550px;
    height: 400px;
    float: left;
    margin-left: 125px;
    
    
  
}
div{
    margin-right: 150px;
}

/* CODIGO BEATRIZ*/

header{
    display: flex;
    align-items: center;
    color: #89cfc9;
    background-color: #011E36;
    padding: 20px;
    margin: 0;
    justify-content: space-between;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;}

body{
    text-align: center;
    color: #011E36;
    background-color: #eeee;
    margin: 0;
    padding: 0;}
    
input{
    border-radius: 20px;
    width: 250px;
    height: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-align: center;}
    
a{
    text-decoration: none;
    color: #fed196;}
    
.botao_azul_claro{
    color: #214e65;
    background-color: #89cfc9;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-color: #89cfc9;
    border-radius: 20px;
    height: 40px;
    width: 250px;}

.opções_menu{
    display: flex;
    justify-content: space-between;
    margin-left: 400px;
    margin-right: 400px;}

.botao_home{
    background-color: #214e65;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-color: #214e65;
    border-radius: 20px;
    height: 40px;
    width:40px;}

.botao_cadastrar_voltar{    
    color: #fed196;
    background-color: #214e65;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-color: #214e65;
    border-radius: 20px;
    height: 35px;
    width: 100px;}

.roda_pé{
    background-position: bottom;}

