header {
    display: flex;
    align-items: center;
    color: #89cfc9;
    background-color: #011E36;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    padding: 2%;
}

#logo_avaliação{
    margin-left: 40%;
    border: none;
    background: none;
    padding: none;
  }
  
  .menu_redirect {
    margin-left: 34%;
    border: none;
    background: none;
    padding: none;
  }

.actual_page{
    background-color: #494949;
    color: #fdc77f;
    padding: 20px;
    font-size: 13pt;
    transition: all .2s linear;
    border-bottom: 2px solid #222;
}
  
#logo_api_cadastro {
    margin: 2%;
}

.link_disable{
    background-color: #bbbbbb;
    padding: 20px;
    font-size: 12pt;
    transition: all .2s linear;
    border-bottom: 2px solid #222;
}

a {
    text-decoration: none;
}

body {
    text-align: center;
    background-color: #eeee;
    margin: 0;
    padding: 0;
}

.controle_container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-left: -3%;
    gap: 6%;
}

.bt_nav{
    flex: 1;
    background-color: #89CFC9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 50px;
    width: 120%;
    font-size: 160%;
    color: white;
    cursor: pointer;
    text-align: center;
    padding: 2%;
    margin: 0;
    border: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25); 
  }

  .disabled_filtro_button{
    background: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    width: 10%;
    padding: 0;
    margin-left: 4%;
}
  
.bt_nav:hover{
    background-color: #a6e2b3e8;
    transform: scale(1.2); 
    transition: 0.5s; 
}

.save_icon:hover {
    transform: scale(1.3); 
    transition: 0.5s; 
}

.filtro_button:hover {
    transform: scale(1.2); 
    transition: 0.5s; 
}
  
.bt_nav_current{
    flex: 1;
    background-color: #89CFC9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 50px;
    width: 120%;
    font-size: 160%;
    color: black;
    text-align: center;
    padding: 2%;
    margin: 0;
    border: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}

/* Botão de menu */
.bt {
    padding: 6px, 6px, 6px;
    text-decoration: none;
    font-size: 15px;
    color: #89cfc9;
    transition: 0.3s;
    z-index: 1;
    top: 0;
    background-color: #111;
}

#check {
    display: none;
}

#icone {
    left: 0;
    cursor: pointer;
    padding: 20px;
    position: absolute;
    z-index: 1;
}

.barra {
    top: 0;
    background-color: #333;
    height: 100px;
    width: 300px;
    position: absolute;
    transition: all .2s linear;
    left: -300px;
}

.menu_lateral {
    width: 100%;
    position: absolute;
    top: 60px;
    color: #fed196;
}

nav a {
    text-decoration: none;
    color: #fed196;
}

.link {
    background-color: #494949;
    padding: 20px;
    font-size: 12pt;
    transition: all .2s linear;
    border-bottom: 2px solid #222;
}

#check:checked ~ .barra {
    transform: translateX(300px);
}

#check:checked ~ .barra nav {
    margin-top: 0;
    opacity: 1;
    transition-delay: .2s;
}

.flashes {
    position: absolute;
    color: black;
    font-size: 20px;
    font-weight: bold;
    left: 44%;
    margin-top: -35px;
    text-align: center;
}

/* Código dashboard */
.charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;
}

.charts-container > * {
    flex-basis: 50%;
    margin: 10px;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.form_div {
    display: flex;
    margin-top: 5%;
}

.form_devolutiva {
    display: flex;
    width: 68%;
}

.select_box{
    background-color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 40px;
    width: 40%;
    height: 99%;
    margin-left: 4%;
    text-align: center;
    color: #000000;
    font-size: 150%;
}

.filtro_button{
    background: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    width: 10%;
    padding: 0;
    margin-left: 4%;
}

.filtro_icon {
    width: 40%;
}

.save_icon {
    width: 50px;
}

.rodape_img {
    margin-top: 10%;
}

.save_button {
    position: relative;
    left: 2%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin: 0;  
    outline: none;
    background: none;
  }

.bt_titulo_media_notas{
    background-color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    border-radius: 40px;
    color: #000000;
    width: 25.3%;
    height: 100%;
    padding: 0.8%;
    margin-left: 2%;
    border: none;
    display: inline;
}






.area_filtro {
    position: relative;
    background-color: rgb(221, 221, 221);
    border-radius: 20px;
    width: 50%;
    margin-left: 25%;
    margin-top: 7%;
  }
  
h5 {
    margin: 0;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
.titulo_filtros {
    width: 100%;
    background-color: rgb(156, 156, 156);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.options_container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    gap: 5%;
}

.options1_container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    gap: 8%;
    margin-left:  -9%;
}

#turma_Checkbox,
#time_Checkbox,
#integrantes_Checkbox,
#avaliacao_Checkbox,
#autoavaliacao_Checkbox {
  display: none;
}

#turma_Checkbox + label,
#time_Checkbox + label,
#integrantes_Checkbox + label{
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 25px;
  margin-left: 10px;
  font-weight: normal;
  font-family: 'Courier New', Courier, monospace;
  padding-left: 30px;
}


#avaliacao_Checkbox + label,
#autoavaliacao_Checkbox + label{
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
  font-weight: normal;
  font-family: 'Courier New', Courier, monospace;
  padding-left: 30px;
}

#turma_Checkbox:checked + label,
#time_Checkbox:checked + label,
#integrantes_Checkbox:checked + label,
#avaliacao_Checkbox:checked + label,
#autoavaliacao_Checkbox:checked + label {
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

#turma_Checkbox + label:before,
#time_Checkbox + label:before,
#integrantes_Checkbox + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #999;
  background-color: #fff;
}


#avaliacao_Checkbox + label:before,
#autoavaliacao_Checkbox + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  background-color: #fff;
}

#turma_Checkbox:checked + label:before,
#time_Checkbox:checked + label:before,
#integrantes_Checkbox:checked + label:before,
#avaliacao_Checkbox:checked + label:before,
#autoavaliacao_Checkbox:checked + label:before {
  background-color: #39c915;
  border-color: #39c915;
}

#turma_Checkbox:checked + label:after,
#time_Checkbox:checked + label:after,
#integrantes_Checkbox:checked + label:after {
  content: "✔";
  position: absolute;
  left: 4px;
  top: 0;
  font-size: 16px;
  color: black;
  visibility: hidden;
}

#avaliacao_Checkbox:checked + label:after,
#autoavaliacao_Checkbox:checked + label:after {
  content: "✔";
  position: absolute;
  left: 2px;
  top: -2px;
  font-size: 14px;
  color: black;
  visibility: hidden;
}

#turma_Checkbox:checked + label:after,
#time_Checkbox:checked + label:after,
#integrantes_Checkbox:checked + label:after,
#avaliacao_Checkbox:checked + label:after,
#autoavaliacao_Checkbox:checked + label:after {
  visibility: visible;
}
