<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/> <!--extensão para caracteres especiais-->
    <title> Dashboards Operacionais</title> 
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/icones/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/icones/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/icones/favicon-16x16.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin/dashboards_operacionais.css') }}">
    {% if darkmode%}
        <style>
        h1 {
            color: snow;
        }
        </style>
    {% endif %}
</head>
<body {% if darkmode%} style="background-color: #494949;" {% endif %}>
    <header> 
            <input type="checkbox" id="check" class="bt">
            <label id="icone" for="check" class="bt"> ☰ </label>
        
        <div class="barra">
            <nav class="menu_lateral">
                <a href="/menu_admin"> <div class="link">MENU PRINCIPAL</div></a>
                <a href="/controle_turmas"> <div class="link">CONTROLE DE TURMAS/TIMES</div></a>
                <a href="/controle_integrantes"> <div class="link">CONTROLE DE INTEGRANTES</div></a>
                <a href="/controle_projetos"> <div class="link">CONTROLE DE PROJETOS</div></a>
                <a href="/devolutiva_admin"> <div class="link">DEVOLUTIVA DE AVALIAÇÃO</div></a>
                <a href="/dashboards_operacionais"> <div class="link">DASHBOARDS OPERACIONAIS</div></a>
                <a href="/dashboards_gerenciais"> <div class="link">DASHBOARDS GERENCIAIS</div></a>
                <a href="/"> <div class="link">SAIR ➔ </div></a>
            </nav>
        </div>
        <img id="logo_avaliação" src="{{ url_for('static', filename='img/cadastro/Logo.png') }}" alt="Logo da plataforma" width="300">
        <p><b>Usuário: {{ nomeUsuario }}</b></p>
    </header>
    <div class="controle_container">
        <a href="/devolutiva_admin"><h1 class="bt_nav">Devolutiva Avaliacões</h1></a>
        <a href="/dashboards_gerenciais"><h1 class="bt_nav">Dashboards Gerenciais</h1></a>
        <a><h1 class="bt_nav_current">Dashboards Operacionais</h1></a>
    </div>
    <div class="form_div">
        <button class="bt_titulo_media_notas">Evolução da média das notas</button>
        <form class="form_devolutiva" method="POST" action="{{ url_for('dashboards.dashboards_operacionais') }}">
            {% if not select_time %}
                <select class="select_box" name="turma_escolha" required>                                    
                    <option  value="" disabled selected>Turma</option>
                    {% for turma in turmas %}
                            <option value="{{ turma['codigo'] }}">{{ turma['nome'] }}</option>
                    {% endfor %}
                </select>
                {% if darkmode %}
                    <button type="submit" class="save_button" name="save_turma">
                        <img src="{{ url_for('static', filename='img/icones/proximo_branco.png') }}" class="save_icon" alt="save_icon">
                    </button>
                {% else %}
                    <button type="submit" class="save_button" name="save_turma">
                        <img src="{{ url_for('static', filename='img/icones/proximo.png') }}" class="save_icon" alt="save_icon">
                    </button>
                {% endif %}
                <select class="select_box" name="time_escolha" disabled>                                    
                    <option  value="" disabled selected>Time</option>
                </select>
                {% if darkmode %}
                    <button disabled type="submit" class="filtro_button" name="filtrar">
                        <img src="{{ url_for('static', filename='img/icones/filtro_branco.png') }}" class="filtro_icon" alt="save_icon">
                    </button>
                {% else %}
                    <button disabled type="submit" class="filtro_button" name="filtrar">
                        <img src="{{ url_for('static', filename='img/icones/filtro.png') }}" class="filtro_icon" alt="save_icon">
                    </button>
                {% endif %}
            {% else %}
                <input type="hidden" name="turma_escolha" value="{{ turma_escolha }}">
                <select class="select_box" name="turma_escolha" disabled> 
                    {% for turma in turmas %}
                        {% if turma['codigo'] == turma_escolha %}
                            <option value="">{{ turma['nome'] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <select class="select_box" name="time_escolha" required>                                    
                    <option  value="" disabled selected>Time</option>
                    {% for time in times %}
                            <option value="{{ time['codigo'] }}">{{ time['nome'] }}</option>
                    {% endfor %}
                </select>
                {% if darkmode %}
                    <button type="submit" class="filtro_button" name="filtrar" style="cursor: pointer">
                        <img src="{{ url_for('static', filename='img/icones/filtro_branco.png') }}" class="filtro_icon" alt="save_icon">
                    </button>
                {% else %}
                    <button type="submit" class="filtro_button" name="filtrar" style="cursor: pointer">
                        <img src="{{ url_for('static', filename='img/icones/filtro.png') }}" class="filtro_icon" alt="save_icon">
                    </button>
                {% endif %}
            {% endif %}
        </form>
    </div>
    <div class="charts-container">
        {% if show_dashboards %}
            <div id="turma-figures">
                <H1>TURMA</H1>
                {% for graph in turma_figures %}
                    {{ graph | safe }}
                {% endfor %}
            </div>
            <div id="time-figures">
                <H1>TIME</H1>
                {% for graph in time_figures %}
                    {{ graph | safe }}
                {% endfor %}
            </div>
            <div id="integrante-figures">
                <H1>INTEGRANTES</H1>
                {% for graph in integrante_figures %}
                    {{ graph | safe }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <footer>
        <img class="rodape_img" src="{{ url_for('static', filename='img/avaliacao/Logo_API_PBLTeX.png') }}" alt="img rodape">
    </footer>
</body>
</html>
