<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/> <!--extensão para caracteres especiais-->
    <title> Dashboards Operacionais</title> 
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/icones/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/icones/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/icones/favicon-16x16.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin/dashboards_operacionais.css') }}">
    {% if darkmode%}
        <style>
        label, h1 {
            color: snow;
        }
        .area_filtro {
            background-color: gray;
        }
        .titulo_filtros{
            background-color: rgba(102, 102, 102, 0.89);
        }
        </style>
    {% endif %}
</head>
<body {% if darkmode%} style="background-color: #494949;" {% endif %}>
    <header> 
            <input type="checkbox" id="check" class="bt">
            <label id="icone" for="check" class="bt"> ☰ </label>
        
        <div class="barra">
            <nav class="menu_lateral">
                <a href="/menu_admin"> <div class="link">MENU PRINCIPAL</div></a>
                <a href="/controle_integrantes"> <div class="link">CONTROLE DE INTEGRANTES</div></a>
                <a href="/controle_turmas"> <div class="link">CONTROLE DE TURMAS</div></a>
                <a href="/controle_times"> <div class="link">CONTROLE DE TIMES</div></a>
                <a href="/controle_projetos"> <div class="link">CONTROLE DE PROJETOS</div></a>
                <a href="/devolutiva_admin"> <div class="link">DEVOLUTIVA DE AVALIAÇÃO</div></a>
                <a href="/dashboards_gerenciais"> <div class="link">DASHBOARDS GERENCIAIS</div></a>
                <div class="actual_page">DASHBOARDS OPERACIONAIS</div>
                <a href="/logout"> <div class="link">SAIR ➔ </div></a>
            </nav>
        </div>
        <a class="menu_redirect" href="/menu_integrante"><img id="logo_avaliação" src="{{ url_for('static', filename='img/menu_admin/Logo API (3).png') }}" width="300px"></a>
        <p><b>Usuário: {{ nomeUsuario }}</b></p>
    </header>
    <div class="controle_container">
        <a href="/devolutiva_admin"><h1 class="bt_nav">Devolutiva de Avaliacões</h1></a>
        <a href="/dashboards_gerenciais"><h1 class="bt_nav">Dashboards Gerenciais</h1></a>
        <a><h1 class="bt_nav_current">Dashboards Operacionais</h1></a>
    </div>
    <div class="form_div">
        <button class="bt_titulo_media_notas">Evolução da média das notas</button>
        <form class="form_devolutiva" method="POST" action="{{ url_for('dashboards.dashboards_operacionais') }}">
            {% if not select_time %}
                <select class="select_box" name="turma_escolha" required>                                    
                    <option  value="" disabled selected>Turma</option>
                    {% for turma in turmas %}
                            <option value="{{ turma['codigo'] }}">{{ turma['nome'] }}</option>
                    {% endfor %}
                </select>
                {% if darkmode %}
                    <button type="submit" class="save_button" name="save_turma">
                        <img src="{{ url_for('static', filename='img/icones/proximo_branco.png') }}" class="save_icon" alt="save_icon">
                    </button>
                {% else %}
                    <button type="submit" class="save_button" name="save_turma">
                        <img src="{{ url_for('static', filename='img/icones/proximo.png') }}" class="save_icon" alt="save_icon">
                    </button>
                {% endif %}
                <select class="select_box" name="time_escolha" disabled>                                    
                    <option  value="" disabled selected>Time</option>
                </select>
                {% if darkmode %}
                    <button disabled type="submit" class="disabled_filtro_button" name="filtrar">
                        <img src="{{ url_for('static', filename='img/icones/filtro_branco.png') }}" class="filtro_icon" alt="save_icon">
                    </button>
                {% else %}
                    <button disabled type="submit" class="disabled_filtro_button" name="filtrar">
                        <img src="{{ url_for('static', filename='img/icones/filtro.png') }}" class="filtro_icon" alt="save_icon">
                    </button>
                {% endif %}
            {% else %}
                <input type="hidden" name="turma_escolha" value="{{ turma_escolha }}">
                <select class="select_box" name="turma_escolha" disabled> 
                    {% for turma in turmas %}
                        {% if turma['codigo'] == turma_escolha %}
                            <option value="">{{ turma['nome'] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <select class="select_box" name="time_escolha" required>                                    
                    <option  value="" disabled selected>Time</option>
                    {% for time in times %}
                            <option value="{{ time['codigo'] }}">{{ time['nome'] }}</option>
                    {% endfor %}
                </select>
                {% if darkmode %}
                    <button type="submit" class="filtro_button" name="filtrar" style="cursor: pointer">
                        <img src="{{ url_for('static', filename='img/icones/filtro_branco.png') }}" class="filtro_icon" alt="save_icon">
                    </button>
                {% else %}
                    <button type="submit" class="filtro_button" name="filtrar" style="cursor: pointer">
                        <img src="{{ url_for('static', filename='img/icones/filtro.png') }}" class="filtro_icon" alt="save_icon">
                    </button>
                {% endif %}
            {% endif %}
        </form>
    </div>
    
    {% if show_dashboards %}
    <div class="area_filtro">
        <div class="titulo_filtros">
            <h1>FILTROS:</h1>
        </div>
        <div class="options_container">
            <h5>CONJUNTOS DE DADOS:</h5>
            <div>
                <input type="checkbox" id="turma_Checkbox" checked>
                <label for="turma_Checkbox">Turma</label>
            </div>
            <div>
                <input type="checkbox" id="time_Checkbox" checked>
                <label for="time_Checkbox">Time</label>
            </div>
            <div>
                <input type="checkbox" id="integrantes_Checkbox" checked>
                <label for="integrantes_Checkbox">Integrantes</label>
            </div>
        </div>

        <div class="options1_container">
            <h5>FONTES DE DADOS:</h5>
            <div>
                <input type="checkbox" id="avaliacao_Checkbox" checked>
                <label for="avaliacao_Checkbox">Avaliação</label>
            </div>
            <div>
                <input type="checkbox" id="autoavaliacao_Checkbox" checked>
                <label for="autoavaliacao_Checkbox">Auto Avaliação</label>
            </div>
        </div>
        <br>
    </div>

        <div class="charts-container">
            <div id="turma-figures">
                <div class="dash_title">
                    <H1>TURMA</H1>
                </div>
                <div class="avaliacao_figure">
                    {{ turma_figures[0] | safe }}
                </div>
                <div class="autoavaliacao_figure">
                    {{ turma_figures[1] | safe }}
                </div>
            </div>
            <div id="time-figures">
                <div class="dash_title">
                    <H1>TIME</H1>
                </div>
                <div class="avaliacao_figure">
                    {{ time_figures[0] | safe }}
                </div>
                <div class="autoavaliacao_figure">
                    {{ time_figures[1] | safe }}
                </div>
            </div>
            <div id="integrante-figures">
                <div class="dash_title">
                    <H1>INTEGRANTES</H1>
                </div>
                <div class="avaliacao_figure">
                    {{ integrante_figures[0] | safe }}
                </div>
                <div class="autoavaliacao_figure">
                    {{ integrante_figures[1] | safe }}
                </div>
            </div>
        </div>
    {% endif %}
    <footer>
        <img class="rodape_img" src="{{ url_for('static', filename='img/avaliacao/Logo_API_PBLTeX.png') }}" alt="img rodape">
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var turmaCheckbox = document.getElementById('turma_Checkbox');
            var timeCheckbox = document.getElementById('time_Checkbox');
            var integrantesCheckbox = document.getElementById('integrantes_Checkbox');
            var avaliacaoCheckbox = document.getElementById('avaliacao_Checkbox');
            var autoavaliacaoCheckbox = document.getElementById('autoavaliacao_Checkbox');

            var turmaDiv = document.querySelector('#turma-figures');
            var timeDiv = document.querySelector('#time-figures');
            var integrantesDiv = document.querySelector('#integrante-figures');
            var avaliacaoDivs = document.querySelectorAll('.avaliacao_figure');
            var autoavaliacaoDivs = document.querySelectorAll('.autoavaliacao_figure');
            var dashTitleDivs = document.querySelectorAll('.dash_title');


            turmaCheckbox.addEventListener('change', toggleDivVisibility);
            timeCheckbox.addEventListener('change', toggleDivVisibility);
            integrantesCheckbox.addEventListener('change', toggleDivVisibility);
            avaliacaoCheckbox.addEventListener('change', toggleDivVisibility);
            autoavaliacaoCheckbox.addEventListener('change', toggleDivVisibility);

            function toggleDivVisibility() {
                turmaDiv.style.display = turmaCheckbox.checked ? 'block' : 'none';
                timeDiv.style.display = timeCheckbox.checked ? 'block' : 'none';
                integrantesDiv.style.display = integrantesCheckbox.checked ? 'block' : 'none';
                
                avaliacaoDivs.forEach(function (div) {
                    div.style.display = avaliacaoCheckbox.checked ? 'block' : 'none';
                });

                autoavaliacaoDivs.forEach(function (div) {
                    div.style.display = autoavaliacaoCheckbox.checked ? 'block' : 'none';
                });

                if (!turmaCheckbox.checked && !timeCheckbox.checked && !integrantesCheckbox.checked) {
                    document.querySelector('.options1_container').style.display = 'none';
                } else {
                    document.querySelector('.options1_container').style.display = 'flex';
                }

                if (!avaliacaoCheckbox.checked && !autoavaliacaoCheckbox.checked) {             
                    dashTitleDivs.forEach(function (div) {
                        div.style.display = 'none';
                    });
                } else {                
                    dashTitleDivs.forEach(function (div) {
                        div.style.display = 'block';
                    });
                }
            }
        });
    </script>
</body>
</html>
