<!DOCTYPE html>
<html>
    <head>
        <meta charset="UFT-8"/>
        <title>Devolutiva Admin</title> 
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/icones/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/icones/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/icones/favicon-16x16.png') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin/devolutiva_admin.css') }}">
        {% if darkmode%}
          <style>
            h2, h3, .sprint_sign, .number, .sprint_form, .sprint_pre_sign, .user_nome, .time_medias{
                  color: snow;
              }
            .table_devolutiva {
                background-color: #383838;
            }
            #legenda_trc {
                background-color: aliceblue;
            }
          </style>
        {% endif %}
    </head>

    <body {% if darkmode%} style="background-color: #494949;" {% endif %}>
        <header> 
            <input type="checkbox" id="check" class="bt">
            <label id="icone" for="check" class="bt"> ☰ </label>
        
        <div class="barra">
            <nav class="menu_lateral">
                <a href="/menu_admin"> <div class="link">MENU PRINCIPAL</div></a>
                <a href="/controle_turmas"> <div class="link">CONTROLE DE TURMAS</div></a>
                <a href="/controle_times"> <div class="link">CONTROLE DE TIMES</div></a>
                <a href="/controle_integrantes"> <div class="link">CONTROLE DE INTEGRANTES</div></a>
                <a href="/controle_projetos"> <div class="link">CONTROLE DE PROJETOS</div></a>
                <div class="actual_page">DEVOLUTIVA DE AVALIAÇÃO</div>
                <a href="/dashboards_operacionais"> <div class="link">DASHBOARDS OPERACIONAIS</div></a>
                <a href="/dashboards_gerenciais"> <div class="link">DASHBOARDS GERENCIAIS</div></a>
                <a href="/logout"> <div class="link">SAIR ➔ </div></a>
            </nav>
        </div>
        <a class="menu_redirect" href="/menu_integrante"><img id="logo_avaliação" src="{{ url_for('static', filename='img/menu_admin/Logo API (3).png') }}" width="300px"></a>
        <p><b>Usuário: {{ nomeUsuario }}</b></p>
        </header>
        <div class="controle_container">
            <a><h1 class="bt_nav_current">Devolutiva de Avaliacões</h1></a>
            <a href="/dashboards_gerenciais"><h1 class="bt_nav">Dashboards Gerenciais</h1></a>
            <a href="dashboards_operacionais"><h1 class="bt_nav">Dashboards Operacionais</h1></a>
        </div>

    <div class="form_div">
        <button class="bt_titulo_media_notas">Avaliações e Autovaliações</button>
        <form class="form_devolutiva" method="POST" action="{{ url_for('devolutivas.devolutiva_admin') }}">
            {% if not select_time and not select_sprint %}
                <select class="select_box" name="turma_escolha" required>                                    
                    <option  value="" disabled selected>Turma</option>
                    {% for turma in turmas %}
                            <option value="{{ turma['codigo'] }}">{{ turma['nome'] }}</option>
                    {% endfor %}
                </select>
                {% if darkmode %}
                    <button type="submit" class="save_button" name="save_turma">
                        <img src="{{ url_for('static', filename='img/icones/proximo_branco.png') }}" class="save_icon" alt="save_icon">
                    </button>
                {% else %}
                    <button type="submit" class="save_button" name="save_turma">
                        <img src="{{ url_for('static', filename='img/icones/proximo.png') }}" class="save_icon" alt="save_icon">
                    </button>
                {% endif %}
                <select class="select_box" name="time_escolha" disabled>                                    
                    <option  value="" disabled selected>Time</option>
                </select>
                <select class="select_box" name="sprint_escolha" disabled>                                    
                    <option  value="" disabled selected>Sprint</option>
                </select>
                {% if darkmode %}
                    <button disabled type="submit" class="disabled_filtro_button" name="filtrar">
                        <img src="{{ url_for('static', filename='img/icones/filtro_branco.png') }}" class="filtro_icon" alt="save_icon">
                    </button>
                {% else %}
                    <button disabled type="submit" class="disabled_filtro_button" name="filtrar">
                        <img src="{{ url_for('static', filename='img/icones/filtro.png') }}" class="filtro_icon" alt="save_icon">
                    </button>
                {% endif %}
            {% elif not select_sprint %}
                <input type="hidden" name="turma_escolha" value="{{ turma_escolha }}">
                <select class="select_box" name="turma_escolha" disabled>
                        <option value="">{{ nome_turma }}</option>
                </select>
                <select class="select_box" name="time_escolha" required>                                    
                    <option  value="" disabled selected>Time</option>
                    {% for time in times %}
                            <option value="{{ time['codigo'] }}">{{ time['nome'] }}</option>
                    {% endfor %}
                </select>
                {% if darkmode %}
                    <button type="submit" class="save_button" name="save_time">
                        <img src="{{ url_for('static', filename='img/icones/proximo_branco.png') }}" class="save_icon" alt="save_icon">
                    </button>
                {% else %}
                    <button type="submit" class="save_button" name="save_time">
                        <img src="{{ url_for('static', filename='img/icones/proximo.png') }}" class="save_icon" alt="save_icon">
                    </button>
                {% endif %}
                <select disabled class="select_box" name="sprint_escolha" required>                                    
                    <option  value="" disabled selected>Sprint</option>
                </select>
                {% if darkmode %}
                    <button disabled type="submit" class="disabled_filtro_button" name="filtrar">
                        <img src="{{ url_for('static', filename='img/icones/filtro_branco.png') }}" class="filtro_icon" alt="save_icon">
                    </button>
                {% else %}
                    <button disabled type="submit" class="disabled_filtro_button" name="filtrar">
                        <img src="{{ url_for('static', filename='img/icones/filtro.png') }}" class="filtro_icon" alt="save_icon">
                    </button>
                {% endif %}
            {% else %}
                <input type="hidden" name="turma_escolha" value="{{ turma_escolha }}">
                <input type="hidden" name="time_escolha" value="{{ time_escolha }}">
                <select class="select_box" name="turma_escolha" disabled>
                        <option value="">{{ nome_turma }}</option>
                </select>
                <select class="select_box" name="time_escolha" disabled>                                    
                    <option  value="" disabled selected>{{ nome_time }}</option>
                </select>
                <select class="select_box" name="sprint_escolha" required>                                    
                    <option  value="" disabled selected>Sprint</option>
                    {% for sprint in team_sprints %}                                   
                        <option  value="{{ sprint }}">{{ sprint }}</option>
                    {% endfor %}            
                        <option  value="0">GERAL</option>
                </select>
                {% if darkmode %}
                    <button type="submit" class="filtro_button" name="filtrar" style="cursor: pointer">
                        <img src="{{ url_for('static', filename='img/icones/filtro_branco.png') }}" class="filtro_icon" alt="save_icon">
                    </button>
                {% else %}
                    <button type="submit" class="filtro_button" name="filtrar" style="cursor: pointer">
                        <img src="{{ url_for('static', filename='img/icones/filtro.png') }}" class="filtro_icon" alt="save_icon">
                    </button>
                {% endif %}
            {% endif %}
        </form>
    </div>
    {% if show_table %}
    <div class="header_infos">
        <h2 class="sprint_sign">Sprint: {{ sprint_string }}</h2>
        <h2 class="sprint_sign">Turma: {{ nome_turma }}</h2>
        <h2 class="sprint_sign">Time: {{ nome_time }}</h2>
    </div>
    <div>
        <img id="legenda_trc" src="{{ url_for('static', filename='img/avaliacao/legenda.png') }}" alt="legenda">
    </div>

    <div class="content">
        <h1 class="time_medias">MÉDIAS DA TURMA</h1>
        <table class="table_devolutiva">
            <tr class="table_header">
                <td>
                    <h6>TIPO DE AVALIAÇÃO</h6>
                </td>
                <td>
                    <h6>COMUNICAÇÃO E TRABALHO<br>EM EQUIPE</h6>
                </td>
                <td>
                    <h6>ENGAJAMENTO E PRÓ-ATIVIDADE</h6>
                </td>
                <td>
                    <h6>CONHECIMENTO E <br>APLICABILIDADE TÉCNICA</h6>
                </td>
                <td>
                    <h6>ENTREGA DE RESULTADOS COM <br>VALOR AGREGADO</h6>
                </td>
                <td>
                    <h6>AUTO-GESTÃO DAS ATIVIDADES</h6>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Avaliação da Equipe</h2>
                </td>
                <td>
                    {% if 0 < notas_medias_turma['comunicacao'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ notas_medias_turma['comunicacao'] }}</h4>
                    {% elif 3 <= notas_medias_turma['comunicacao'] < 4  %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ notas_medias_turma['comunicacao'] }}</h4>
                    {% elif notas_medias_turma['comunicacao'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ notas_medias_turma['comunicacao'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < notas_medias_turma['engajamento'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ notas_medias_turma['engajamento'] }}</h4>
                    {% elif 3 <= notas_medias_turma['engajamento'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ notas_medias_turma['engajamento'] }}</h4>
                    {% elif notas_medias_turma['engajamento'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ notas_medias_turma['engajamento'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < notas_medias_turma['conhecimento'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ notas_medias_turma['conhecimento'] }}</h4>
                    {% elif 3 <= notas_medias_turma['conhecimento'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ notas_medias_turma['conhecimento'] }}</h4>
                    {% elif notas_medias_turma['conhecimento'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ notas_medias_turma['conhecimento'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < notas_medias_turma['entrega'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ notas_medias_turma['entrega'] }}</h4>
                    {% elif 3 <= notas_medias_turma['entrega'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ notas_medias_turma['entrega'] }}</h4>
                    {% elif notas_medias_turma['entrega'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ notas_medias_turma['entrega'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < notas_medias_turma['autogestao'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ notas_medias_turma['autogestao'] }}</h4>
                    {% elif 3 <= notas_medias_turma['autogestao'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ notas_medias_turma['autogestao'] }}</h4>
                    {% elif notas_medias_turma['autogestao'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ notas_medias_turma['autogestao'] }}</h4>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Auto Avaliacao</h2>
                </td>
                <td>
                    {% if 0 < auto_notas_medias_turma['auto_comunicacao'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ auto_notas_medias_turma['auto_comunicacao'] }}</h4>
                    {% elif 3 <= auto_notas_medias_turma['auto_comunicacao'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ auto_notas_medias_turma['auto_comunicacao'] }}</h4>
                    {% elif auto_notas_medias_turma['auto_comunicacao'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ auto_notas_medias_turma['auto_comunicacao'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < auto_notas_medias_turma['auto_engajamento'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ auto_notas_medias_turma['auto_engajamento'] }}</h4>
                    {% elif 3 <= auto_notas_medias_turma['auto_engajamento'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ auto_notas_medias_turma['auto_engajamento'] }}</h4>
                    {% elif auto_notas_medias_turma['auto_engajamento'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ auto_notas_medias_turma['auto_engajamento'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < auto_notas_medias_turma['auto_conhecimento'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ auto_notas_medias_turma['auto_conhecimento'] }}</h4>
                    {% elif 3 <= auto_notas_medias_turma['auto_conhecimento'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ auto_notas_medias_turma['auto_conhecimento'] }}</h4>
                    {% elif auto_notas_medias_turma['auto_conhecimento'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ auto_notas_medias_turma['auto_conhecimento'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < auto_notas_medias_turma['auto_entrega'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ auto_notas_medias_turma['auto_entrega'] }}</h4>
                    {% elif 3 <= auto_notas_medias_turma['auto_entrega'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ auto_notas_medias_turma['auto_entrega'] }}</h4>
                    {% elif auto_notas_medias_turma['auto_entrega'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ auto_notas_medias_turma['auto_entrega'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < auto_notas_medias_turma['auto_autogestao'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ auto_notas_medias_turma['auto_autogestao'] }}</h4>
                    {% elif 3 <= auto_notas_medias_turma['auto_autogestao'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ auto_notas_medias_turma['auto_autogestao'] }}</h4>
                    {% elif auto_notas_medias_turma['auto_autogestao'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ auto_notas_medias_turma['auto_autogestao'] }}</h4>
                    {% endif %}
                </td>
            </tr>
        </table>
        <h1 class="time_medias">MÉDIAS DO TIME</h1>
        <table class="table_devolutiva">
            <tr>
                <td>
                    <h6>TIPO DE AVALIAÇÃO</h6>
                </td>
                <td>
                    <h6>COMUNICAÇÃO E TRABALHO<br>EM EQUIPE</h6>
                </td>
                <td>
                    <h6>ENGAJAMENTO E PRÓ-ATIVIDADE</h6>
                </td>
                <td>
                    <h6>CONHECIMENTO E <br>APLICABILIDADE TÉCNICA</h6>
                </td>
                <td>
                    <h6>ENTREGA DE RESULTADOS COM <br>VALOR AGREGADO</h6>
                </td>
                <td>
                    <h6>AUTO-GESTÃO DAS ATIVIDADES</h6>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Avaliação da Equipe</h2>
                </td>
                <td>
                    {% if 0 < notas_medias_time['comunicacao'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ notas_medias_time['comunicacao'] }}</h4>
                    {% elif 3 <= notas_medias_time['comunicacao'] < 4  %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ notas_medias_time['comunicacao'] }}</h4>
                    {% elif notas_medias_time['comunicacao'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ notas_medias_time['comunicacao'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < notas_medias_time['engajamento'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ notas_medias_time['engajamento'] }}</h4>
                    {% elif 3 <= notas_medias_time['engajamento'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ notas_medias_time['engajamento'] }}</h4>
                    {% elif notas_medias_time['engajamento'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ notas_medias_time['engajamento'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < notas_medias_time['conhecimento'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ notas_medias_time['conhecimento'] }}</h4>
                    {% elif 3 <= notas_medias_time['conhecimento'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ notas_medias_time['conhecimento'] }}</h4>
                    {% elif notas_medias_time['conhecimento'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ notas_medias_time['conhecimento'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < notas_medias_time['entrega'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ notas_medias_time['entrega'] }}</h4>
                    {% elif 3 <= notas_medias_time['entrega'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ notas_medias_time['entrega'] }}</h4>
                    {% elif notas_medias_time['entrega'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ notas_medias_time['entrega'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < notas_medias_time['autogestao'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ notas_medias_time['autogestao'] }}</h4>
                    {% elif 3 <= notas_medias_time['autogestao'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ notas_medias_time['autogestao'] }}</h4>
                    {% elif notas_medias_time['autogestao'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ notas_medias_time['autogestao'] }}</h4>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Auto Avaliacao</h2>
                </td>
                <td>
                    {% if 0 < auto_notas_medias_time['auto_comunicacao'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ auto_notas_medias_time['auto_comunicacao'] }}</h4>
                    {% elif 3 <= auto_notas_medias_time['auto_comunicacao'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ auto_notas_medias_time['auto_comunicacao'] }}</h4>
                    {% elif auto_notas_medias_time['auto_comunicacao'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ auto_notas_medias_time['auto_comunicacao'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < auto_notas_medias_time['auto_engajamento'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ auto_notas_medias_time['auto_engajamento'] }}</h4>
                    {% elif 3 <= auto_notas_medias_time['auto_engajamento'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ auto_notas_medias_time['auto_engajamento'] }}</h4>
                    {% elif auto_notas_medias_time['auto_engajamento'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ auto_notas_medias_time['auto_engajamento'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < auto_notas_medias_time['auto_conhecimento'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ auto_notas_medias_time['auto_conhecimento'] }}</h4>
                    {% elif 3 <= auto_notas_medias_time['auto_conhecimento'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ auto_notas_medias_time['auto_conhecimento'] }}</h4>
                    {% elif auto_notas_medias_time['auto_conhecimento'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ auto_notas_medias_time['auto_conhecimento'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < auto_notas_medias_time['auto_entrega'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ auto_notas_medias_time['auto_entrega'] }}</h4>
                    {% elif 3 <= auto_notas_medias_time['auto_entrega'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ auto_notas_medias_time['auto_entrega'] }}</h4>
                    {% elif auto_notas_medias_time['auto_entrega'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ auto_notas_medias_time['auto_entrega'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < auto_notas_medias_time['auto_autogestao'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ auto_notas_medias_time['auto_autogestao'] }}</h4>
                    {% elif 3 <= auto_notas_medias_time['auto_autogestao'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ auto_notas_medias_time['auto_autogestao'] }}</h4>
                    {% elif auto_notas_medias_time['auto_autogestao'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ auto_notas_medias_time['auto_autogestao'] }}</h4>
                    {% endif %}
                </td>
            </tr>
        </table>
        <h1 class="time_medias">MÉDIAS DOS INTEGRANTES PELOS AVALIADORES</h1>
        <table class="table_devolutiva">
            <tr>
                <td>
                    <h6>INTEGRANTE</h6>
                </td>
                <td>
                    <h6>COMUNICAÇÃO E TRABALHO<br>EM EQUIPE</h6>
                </td>
                <td>
                    <h6>ENGAJAMENTO E PRÓ-ATIVIDADE</h6>
                </td>
                <td>
                    <h6>CONHECIMENTO E <br>APLICABILIDADE TÉCNICA</h6>
                </td>
                <td>
                    <h6>ENTREGA DE RESULTADOS COM <br>VALOR AGREGADO</h6>
                </td>
                <td>
                    <h6>AUTO-GESTÃO DAS ATIVIDADES</h6>
                </td>
            </tr>
            {% for integrante in notas_medias_integrante %}
            <tr>
                <td>
                    <h2>{{ notas_medias_integrante[integrante]['nome'] }}</h2>
                </td>
                <td>
                    {% if 0 < notas_medias_integrante[integrante]['comunicacao'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ notas_medias_integrante[integrante]['comunicacao'] }}</h4>
                    {% elif 3 <= notas_medias_integrante[integrante]['comunicacao'] < 4  %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ notas_medias_integrante[integrante]['comunicacao'] }}</h4>
                    {% elif notas_medias_integrante[integrante]['comunicacao'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ notas_medias_integrante[integrante]['comunicacao'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < notas_medias_integrante[integrante]['engajamento'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ notas_medias_integrante[integrante]['engajamento'] }}</h4>
                    {% elif 3 <= notas_medias_integrante[integrante]['engajamento'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ notas_medias_integrante[integrante]['engajamento'] }}</h4>
                    {% elif notas_medias_integrante[integrante]['engajamento'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ notas_medias_integrante[integrante]['engajamento'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < notas_medias_integrante[integrante]['conhecimento'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ notas_medias_integrante[integrante]['conhecimento'] }}</h4>
                    {% elif 3 <= notas_medias_integrante[integrante]['conhecimento'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ notas_medias_integrante[integrante]['conhecimento'] }}</h4>
                    {% elif notas_medias_integrante[integrante]['conhecimento'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ notas_medias_integrante[integrante]['conhecimento'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < notas_medias_integrante[integrante]['entrega'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ notas_medias_integrante[integrante]['entrega'] }}</h4>
                    {% elif 3 <= notas_medias_integrante[integrante]['entrega'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ notas_medias_integrante[integrante]['entrega'] }}</h4>
                    {% elif notas_medias_integrante[integrante]['entrega'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ notas_medias_integrante[integrante]['entrega'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < notas_medias_integrante[integrante]['autogestao'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ notas_medias_integrante[integrante]['autogestao'] }}</h4>
                    {% elif 3 <= notas_medias_integrante[integrante]['autogestao'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ notas_medias_integrante[integrante]['autogestao'] }}</h4>
                    {% elif notas_medias_integrante[integrante]['autogestao'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ notas_medias_integrante[integrante]['autogestao'] }}</h4>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <h1 class="time_medias">FEEDBACKS RECEBIDOS</h1>
        <table class="table_devolutiva">
            <tr>
                <td>
                    <h6>INTEGRANTE</h6>
                </td>
                <td>
                    <h6>COMUNICAÇÃO E TRABALHO<br>EM EQUIPE</h6>
                </td>
                <td>
                    <h6>ENGAJAMENTO E PRÓ-ATIVIDADE</h6>
                </td>
                <td>
                    <h6>CONHECIMENTO E <br>APLICABILIDADE TÉCNICA</h6>
                </td>
                <td>
                    <h6>ENTREGA DE RESULTADOS COM <br>VALOR AGREGADO</h6>
                </td>
                <td>
                    <h6>AUTO-GESTÃO DAS ATIVIDADES</h6>
                </td>
            </tr>
            {% for integrante in feedbacks_integrante %}
            <tr>
                <td>
                    <h3>{{ feedbacks_integrante[integrante]['nome'] }}</h3>
                </td>
                <td>
                    {% for feedback in feedbacks_integrante[integrante]['comunicacao'] %}
                        <h3>• {{ feedback }}</h3>
                    {% endfor %}
                </td>
                <td>
                    {% for feedback in feedbacks_integrante[integrante]['engajamento'] %}
                        <h3>• {{ feedback }}</h3>
                    {% endfor %}
                </td>
                <td>
                    {% for feedback in feedbacks_integrante[integrante]['conhecimento'] %}
                        <h3>• {{ feedback }}</h3>
                    {% endfor %}
                </td>
                <td>
                    {% for feedback in feedbacks_integrante[integrante]['entrega'] %}
                        <h3>• {{ feedback }}</h3>
                    {% endfor %}
                </td>
                <td>
                    {% for feedback in feedbacks_integrante[integrante]['autogestao'] %}
                        <h3>• {{ feedback }}</h3>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <h1 class="time_medias">AUTOAVALIAÇÃO</h1>
        <table class="table_devolutiva">
            <tr>
                <td>
                    <h6>INTEGRANTE</h6>
                </td>
                <td>
                    <h6>COMUNICAÇÃO E TRABALHO<br>EM EQUIPE</h6>
                </td>
                <td>
                    <h6>ENGAJAMENTO E PRÓ-ATIVIDADE</h6>
                </td>
                <td>
                    <h6>CONHECIMENTO E <br>APLICABILIDADE TÉCNICA</h6>
                </td>
                <td>
                    <h6>ENTREGA DE RESULTADOS COM <br>VALOR AGREGADO</h6>
                </td>
                <td>
                    <h6>AUTO-GESTÃO DAS ATIVIDADES</h6>
                </td>
            </tr>
            {% for integrante in auto_notas_medias_integrante %}
            <tr>
                <td>
                    <h2>{{ auto_notas_medias_integrante[integrante]['nome'] }}</h2>
                </td>
                <td>
                    {% if 0 < auto_notas_medias_integrante[integrante]['comunicacao'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ auto_notas_medias_integrante[integrante]['comunicacao'] }}</h4>
                    {% elif 3 <= auto_notas_medias_integrante[integrante]['comunicacao'] < 4  %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ auto_notas_medias_integrante[integrante]['comunicacao'] }}</h4>
                    {% elif auto_notas_medias_integrante[integrante]['comunicacao'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ auto_notas_medias_integrante[integrante]['comunicacao'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < auto_notas_medias_integrante[integrante]['engajamento'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ auto_notas_medias_integrante[integrante]['engajamento'] }}</h4>
                    {% elif 3 <= auto_notas_medias_integrante[integrante]['engajamento'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ auto_notas_medias_integrante[integrante]['engajamento'] }}</h4>
                    {% elif auto_notas_medias_integrante[integrante]['engajamento'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ auto_notas_medias_integrante[integrante]['engajamento'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < auto_notas_medias_integrante[integrante]['conhecimento'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ auto_notas_medias_integrante[integrante]['conhecimento'] }}</h4>
                    {% elif 3 <= auto_notas_medias_integrante[integrante]['conhecimento'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ auto_notas_medias_integrante[integrante]['conhecimento'] }}</h4>
                    {% elif auto_notas_medias_integrante[integrante]['conhecimento'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ auto_notas_medias_integrante[integrante]['conhecimento'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < auto_notas_medias_integrante[integrante]['entrega'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ auto_notas_medias_integrante[integrante]['entrega'] }}</h4>
                    {% elif 3 <= auto_notas_medias_integrante[integrante]['entrega'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ auto_notas_medias_integrante[integrante]['entrega'] }}</h4>
                    {% elif auto_notas_medias_integrante[integrante]['entrega'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ auto_notas_medias_integrante[integrante]['entrega'] }}</h4>
                    {% endif %}
                </td>
                <td>
                    {% if 0 < auto_notas_medias_integrante[integrante]['autogestao'] < 3 %}
                        <h4 style="color: rgba(211, 32, 32, 0.911)">{{ auto_notas_medias_integrante[integrante]['autogestao'] }}</h4>
                    {% elif 3 <= auto_notas_medias_integrante[integrante]['autogestao'] < 4 %}
                        <h4 style="color: rgba(53, 111, 236, 0.932)">{{ auto_notas_medias_integrante[integrante]['autogestao'] }}</h4>
                    {% elif auto_notas_medias_integrante[integrante]['autogestao'] >= 4 %}
                        <h4 style="color: rgb(3, 160, 3)">{{ auto_notas_medias_integrante[integrante]['autogestao'] }}</h4>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    <div>
        <footer>
            <img class="rodape_img" src="{{ url_for('static', filename='img/avaliacao/Logo_API_PBLTeX.png') }}" alt="img rodape">
        </footer>
    </div>
  </body>  
</html>