/* CABEÇALHO PADRONIZADO */
header{
    display: flex;
    align-items: center;
    color: #89cfc9;
    background-color: #011E36;
    justify-content: space-between;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    padding: 2%;}
  
  #logo_avaliação{
  margin-left: 40%;
  }
  /* FIM CABEÇALHO PADRONIZADO */
  
  @import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
  
  /* Botão de menu */
  .bt{
  padding: 6px, 6px, 6px;
  text-decoration: none;
  font-size: 15px;
  color: #89cfc9;
  transition: 0.3s;
  z-index: 1;
  top: 0;
  background-color: #111;}
  
  #check{
  display: none;}
  
  #icone{
  cursor: pointer;
  padding: 20px;
  position: absolute;
  z-index: 1;}
  
  .barra{
  top: 0;
  background-color: #333;
  height: 100px;
  width: 300px;
  position: absolute;
  transition: all .2s linear;
  left: -300px;}
  
  .menu_lateral{
  width: 100%;
  position: absolute;
  top: 60px;
  color:#fed196;}
  
  nav a{
  text-decoration: none;
  color: #fed196;}
  
  .link{
  background-color: #494949;
  padding: 20px;
  font-size: 12pt;
  transition: all .2s linear;
  border-bottom: 2px solid #222;}
  
  #check:checked ~ .barra{
  transform: translateX(300px);}
  
  #check:checked ~ .barra nav{
  margin-top: 0;
  opacity: 1;
  transition-delay: .2s;}
  
  .flashes {
  position: absolute;
  color: black;
  font-size: 20px;
  font-weight: bold;
  left: 44%;
  margin-top: -35px;
  text-align: center;}
  /************** fim do botão de menu */
    
  /************** Conteúdo central da página */
  
  body {
    background-color: #eeee;
    margin: 0;
    padding: 0;
    }
  .bt_avaliacao_trc{
    position: absolute;
    background-color: #214E65;
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 50px;
    padding: 15px;
    left: 15%;
    top: 15%;
    color: #fed196;
  }
  .bt_confirmar_trc{
    position: absolute;
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 15px;
    border-radius: 50px;
    background-color: #214E65;
    border-bottom: 2% solid #222;
    cursor: pointer;
    left: 135%;
    top: 90%;
    color: #fed196;
  }
  
  .formulario_trc1{
    display: flex;
    position: absolute;
    left: 25%;
    top: 33%;
    columns: 2;
    text-align: left;
  }
  
  .legenda_trc{
    position: absolute;
    margin:0;
    height: 60%;
    top: 24%;
    left: 120%;
  }
  
  input[type="radio"] {
    width: 20px;
    height: 20px;
    font-size: 40px;
  }
  
  .rodape-img {
    position: absolute;
    left: 40%;
    top: 100%;
  }
  
  .input_integrante {
    left: 3%; 
    top: -25%;
    position: absolute;
  }
  
  .Sprint_select {
    position: absolute;
    left: 63%; 
    top: -25%;
  }
  
  h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .texto_avaliacao {
    position: absolute;
    right: -93%;
    top: -10%;
    min-width: 80%;
    min-height: 28%;
    max-width: 80%;
    max-height: 28%;
    font-size: 20px;
    vertical-align: top;
    text-align: left;
    padding: 5px;
  }  
    /************** Fim do conteúdo central da página */



    /*RESPONSIVIDADE */

    
    @media screen and (max-width: 1393px) {
      .texto_avaliacao {
        right: -80%;
        top: -10%;
        min-width: 60%;
        min-height: 28%;
        max-width: 60%;
        max-height: 18%;
        font-size: 20px;

      }
      .bt_avaliacao_trc{
        /* width: 7%;
        font-size: 15px; */
        left:45%;
      }
    }

    @media screen and (max-width: 1314px){

      .texto_avaliacao{
        
        min-width: 50%;
        min-height: 28%;
        max-width: 50%;
        max-height: 28%;
        left: 120%;
      }
      .legenda_trc{
        height: 50%;
      }
      
    }

    @media screen and (max-width: 1253px){
      .texto_avaliacao{
        
        min-width: 40%;
        min-height: 28%;
        max-width: 50%;
        max-height: 28%;
        left: 110%;
    }
       .legenda_trc{
        height: 40%;
       }
    }

     @media screen and (max-width: 1186px){
      .texto_avaliacao{
        
        min-width: 40%;
        min-height: 18%;
        max-width: 50%;
        max-height: 18%;
        left: 100%;
    }
       .legenda_trc{
        height: 35%;
        left:110%;
      }

      .bt_confirmar_trc{
        width:20%;
        left: 120%;
        top: 65%;
        font-size: 12px;
      }
      .bt_avaliacao_trc{
        width: 7%;
        font-size: 12px;
      }
     }

     @media screen and (max-width: 1120px){
      
      .texto_avaliacao{
        
        top: 100%;
        left: -30%;
    }
      .legenda_trc{
        
        left: 80%;
        top: 90%;
        
      }
      .bt_confirmar_trc{
    
        top: 105%;
        left: 40%;
      }
     }


     .flash {
      position: absolute;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: rgb(247, 2, 2);
      font-weight: bolder;
      font-size: 20px;
      font-weight: bold;
      left: 40%;
      top: 14%;
      text-align: center;
      list-style-type: none;
  }