<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="PBLTeX: Avaliação 360º">
  <title>PBLTeX: Autoavaliação</title> <!---Nome da página-->
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<!-- Início do conteúdo do cabeçalho -->
<header class="cabecalho">
    <img class="cabecalho_img" src="usuario_teste.jpg" alt="Logo da avaliação 360º">
    <h3 class="cabecalho_img">Usuário: </h3>
</header>
<!-- fim do conteúdo do cabeçalho -->

<!--- Início do botão de menu -->
<header>
    <!-- Botão para abrir o menu lateral -->
    <input type="checkbox" id="check" class="bt">
    <label id="icone" for="check" class="bt"> ☰ </label>

<div class="barra">
    <nav>
        <a href=""> <div class="link">MENU PRINCIPAL</div></a>
        <a href=""> <div class="link">CADASTRAR INTEGRANTE</div></a>
        <a href=""> <div class="link">CONTROLE GERAL TURMA/TIME/SPRINTS</div></a>
        <a href=""> <div class="link">CONTROLE DE PERFIL</div></a>
        <a href=""> <div class="link">DEVOLUTIVA DE AVALIAÇÃO</div></a>
        <a href=""> <div class="link">DASHBOARDS OPERACIONAIS</div></a>
        <a href=""> <div class="link">DASHBOARDS GERENCIAIS</div></a>
        <br>
        <br>
        <a href=""> <div class="link">SAIR ➔ </div></a>
    </nav>
</div>
</header> 
<!--- Fim do botão de menu -->

<!-- Conteúdo central da página Autoavaliação-->
<body>
    <h1><button class="bt_avaliacao_trc">AUTOAVALIAÇÃO</button></h1>
    <center>
    <h1>Tela de Autoavaliação</h1>
    </center>
    <br>
    <br>
    <br>
    <br>
    <form>
    <div class="formulario_trc">
      <h2>Comunicação e Trabalho em Equipe</h2>
      <input type="radio" name="comunicacao" value="1"> 1
      <input type="radio" name="comunicacao" value="2"> 2
      <input type="radio" name="comunicacao" value="3"> 3
      <input type="radio" name="comunicacao" value="4"> 4
      <input type="radio" name="comunicacao" value="5"> 5
    <br>
    <br>
    <br>
    <br>
      <h2>Engajamento e Proatividade</h2>
      <input type="radio" name="engajamento" value="1"> 1
      <input type="radio" name="engajamento" value="2"> 2
      <input type="radio" name="engajamento" value="3"> 3
      <input type="radio" name="engajamento" value="4"> 4
      <input type="radio" name="engajamento" value="5"> 5
    <br>
    <br>
    <br>
    <br>
      <h2>Conhecimento e Aplicabilidade Técnica</h2>
      <input type="radio" name="conhecimento" value="1"> 1
      <input type="radio" name="conhecimento" value="2"> 2
      <input type="radio" name="conhecimento" value="3"> 3
      <input type="radio" name="conhecimento" value="4"> 4
      <input type="radio" name="conhecimento" value="5"> 5
    <br>
    <br>
    <br>
    <br>
      <h2>Entrega de Resultados com Valor Agregado</h2>
      <input type="radio" name="entrega" value="1"> 1
      <input type="radio" name="entrega" value="2"> 2
      <input type="radio" name="entrega" value="3"> 3
      <input type="radio" name="entrega" value="4"> 4
      <input type="radio" name="entrega" value="5"> 5
    <br>
    <br>
    <br>
    <br>
      <h2>Auto-gestão das Atividades</h2>
      <input type="radio" name="autogestao" value="1"> 1
      <input type="radio" name="autogestao" value="2"> 2
      <input type="radio" name="autogestao" value="3"> 3
      <input type="radio" name="autogestao" value="4"> 4
      <input type="radio" name="autogestao" value="5"> 5
      <br>
      <br>
      <br>
      <input type="submit" value="CONFIRMAR">
    </div>
    </form>
    <!-- Legenda da avaliação-->
    <img class="legenda_trc" src="legenda.png">
<!-- Fim do conteúdo central da página Autoavaliação-->

<!--- Início do rodapé da página-->
    <footer class="rodape">
    <img class="rodape-img" src="img_final.png">
    </footer>
<!--- Fim do conteúdo do rodapé da página-->
</body>  
</html>