<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<title>Avaliação 360°</title>
    <link rel="stylesheet" href="styles.css">
</head>

<div>
	<img src="Layout API-2.png" title="LOGO">
</div>
<body>

<div class="texto" >
	<center>
		<h3>Faça seu login aqui!</h>
	</center>   
	<div>
		<input type="text" name="nome" placeholder= "Digite seu e-mail:">

	    <input type="password" name="password" placeholder="Digite sua senha">
	</div>	
	<center>
    	<button>Acessar</button>
	</center>
</div>
	</body>

