<!DOCTYPE html>
<html>
    <head>
        <meta charset="UFT-8"/>
        <title> Opções Admin - Avaliação 360º PBLTeX</title> 
        <link rel="stylesheet" href="/App/Static/Css/Menu_Admin.css"/>
    </head>

    <body>
        <header> 
            <!-- Botão para abrir o menu lateral -->
            <input type="checkbox" id="check" class="bt">
            <label id="icone" for="check" class="bt"> ☰ </label>
        
        <div class="barra">
            <nav class="menu_lateral">
                <a href="Menu_Admin.html"> <div class="link">MENU PRINCIPAL</div></a>
                <a href="Cadastro.html"> <div class="link">CADASTRAR INTEGRANTE</div></a>
                <a href=""> <div class="link">CONTROLE GERAL TURMA/TIME/SPRINTS</div></a>
                <a href=""> <div class="link">CONTROLE DE PERFIL</div></a>
                <a href=""> <div class="link">DEVOLUTIVA DE AVALIAÇÃO</div></a>
                <a href=""> <div class="link">DASHBOARDS OPERACIONAIS</div></a>
                <a href=""> <div class="link">DASHBOARDS GERENCIAIS</div></a>
                <a href=""> <div class="link">SAIR ➔ </div></a>
            </nav>
        </div>
        <img id="logo_avaliação" src="/App/Static/Img/Logo API (3).png" alt="Logo da plataforma" width="300">
        <p><b>Identificação do Usuário</b></p>
        </header>

        <img src="/App/Static/Img/Logo_API_Details Admin(1).png" width="400">

        <nav class="opções_menu">
            <nav class="primeira_coluna">
                <button class="botao_azul_claro">
                    <a class="botao_azul_claro" href="teste_cadastro.html">
                    <strong> CADASTRAR INTEGRANTE  </strong>
                    </a>
                </button>
                <br><br>
                <button class="botao_azul_claro">
                    <a class="botao_azul_claro">
                    <strong> CONTROLE GERAL TURMA/TIME/SPRINTS </strong>
                    </a>
                </button>
                <br><br>
                <button class="botao_azul_claro">
                    <a class="botao_azul_claro">
                    <strong> CONTROLE DE PERFIL </strong>
                    </a>
                </button>
            </nav>
            <nav class="segunda_coluna">
                <button class="botao_azul_claro">
                    <a class="botao_azul_claro">
                    <strong> DEVOLUTIVA DE AVALIAÇÃO  </strong>
                    </a>
                </button>
                <br><br>
                <button class="botao_azul_claro">
                    <a class="botao_azul_claro">
                    <strong> DASHBOARDS OPERACIONAIS  </strong>
                    </a>
                </button>
                <br><br>
                <button class="botao_azul_claro">
                    <a class="botao_azul_claro">
                    <strong> DASHBOARDS GERENCIAIS  </strong>
                    </a>
                </button>
            </nav>
        </nav>
        <br><br><br><br><br><br>
        <footer>      
            <img src="/App/Static/Img/Logo_API_PBLTeX.png" width="250">
        </footer>
    </body>
</html>    