<!DOCTYPE html>
<html>
    <head>
        <meta charset="UFT-8"/>
        <title> Opções Admin - Avaliação 360º PBLTeX</title> 
        <link rel="stylesheet" href="styles.css"/>
    </head>

    <body>
        <header> 
            <button class="botao_home">
            <img src="Imagens/Logo_API_menu.png" alt="Menu" width="25">
            </button>
            <img src="Imagens/Logo API (3).png" alt="Logo da plataforma" width="300">
            <p><b>Identificação do Usuário</b></p>
        </header>

        <img src="Imagens/Logo_API_Details Admin(1).png" width="400">
        <br><br><br>
        <nav class="opções_menu">
            <nav class="primeira_coluna">
                <button class="botao_azul_claro">
                    <a class="botao_azul_claro" href="teste_cadastro.html">
                    <strong> CADASTRAR INTEGRANTE  </strong>
                    </a>
                </button>
                <br><br>
                <button class="botao_azul_claro">
                    <a class="botao_azul_claro">
                    <strong> CONTROLE GERAL TURMA/TIME/SPRINTS </strong>
                    </a>
                </button>
                <br><br>
                <button class="botao_azul_claro">
                    <a class="botao_azul_claro">
                    <strong> CONTROLE DE PERFIL </strong>
                    </a>
                </button>
            </nav>

            <nav class="segunda_coluna">
                <button class="botao_azul_claro">
                    <a class="botao_azul_claro">
                    <strong> DEVOLUTIVA DE AVALIAÇÃO  </strong>
                    </a>
                </button>
                <br><br>
                <button class="botao_azul_claro">
                    <a class="botao_azul_claro">
                    <strong> DASHBOARDS OPERACIONAIS  </strong>
                    </a>
                </button>
                <br><br>
                <button class="botao_azul_claro">
                    <a class="botao_azul_claro">
                    <strong> DASHBOARDS GERENCIAIS  </strong>
                    </a>
                </button>
            </nav>
        </nav>
        <br><br><br><br><br><br>
        <footer>      
            <img src="Imagens/Logo_API_PBLTeX.png" width="250">
        </footer>
    </body>
</html>    