<!DOCTYPE html>
<html>
    <head>
        <meta charset="UFT-8"/> <!--extensão para caracteres especiais-->
        <title> Cadastro de Integrante - Avaliação 360º PBLTeX</title> 
        <link rel="stylesheet" href="/Static/styles.css"/>
    </head>
    <body>
        <header> 
            <button class="botao_home">
            <a href="teste_menu.html">
            <img src="/Static/Img/Logo_API_menu.png" alt="Menu" width="25">
            </a>
            </button>
            <img src="/Static/Img/Logo API (3).png" alt="Logo da plataforma" width="300">
            <p><b>Identificação do Usuário</b></p>
        </header>
        <img src="/Static/Img/Logo_API cadastro.png" width="400">
        
        <form id="formulario">
            <input type="text" placeholder="NOME COMPLETO" name="NOME" id="user">
            <br><br>
            <input type="text" value=""placeholder="E-MAIL" name="E-MAIL" id="email">
            <br><br>
            <input type="text" value=""placeholder="TURMA" name="TURMA" id="turma">
            <br><br> 
            <input type="text" value=""placeholder="SEMESTRE" name="SEMESTRE" id="semestre">
            <br><br>
            <input class="botao_cadastrar_voltar" type="submit" value="CADASTRAR" >
        </form>
        <br>
        <button class="botao_cadastrar_voltar">
            <b> VOLTAR </b>  
        </button>
        <footer>
            <img src="/Static/Img/Logo_API_PBLTeX.png" width="250">
        </footer>
        <p class="erro_validation template"></p>
        <script src="/script.js"></script>
    </body>
</html>